﻿
@{
    ViewBag.Title = "Braira Hotel AL- Wezarat Branch Grand opening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="javascript:;">
                    <img src="~/assets/img/news/braira-al-wizarat.jpg" class="post-img" alt="Al Wizarat " />
                </a>
                <a href="javascript:;" class="post-title">Braira Hotel AL- Wezarat Branch Grand opening</a>
                <div class="post-desc">
                    <p>
                        Braira Hotel new branch is open to the  public in the ministries district in Riyadh, the hotel is located in a vital and distinctive location in Riyadh in the heart of the city. The hotel is the perfect choice for business and leisure travelers. The hotel is characterized by elegant and contemporary furniture that is very much to the luxury and has a beautiful color and comfortable design for the eyes. Also, the most outstanding of the hotels in Braira is the tranquility and good service with all the integrated services. You will certainly find everything you need for a wonderful stay .
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

