﻿
@{
    ViewBag.Title = "Latest Offers";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
    <style type="text/css">
        .bottom-align-text {
            position: absolute;
            bottom: 3px;
            left: 3px;
        }

        .truncateAmenity {
            width: 100%;
            height: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc {
            width: 100%;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncateDesc2 {
            width: 100%;
            height: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li class="active">اخر العروض</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Rooms Container -->
<section id="highlights">
    <div class="room-container container room-list">
        <!-- Heading box -->
        <div class="heading-box">
            <h2><span>اخر العروض</span></h2><!-- Title -->
            <div class="subtitle">فنادق و منتجعات</div>
        </div>
        <div class="offers-responsive">
            @if (ViewBag.splPkgs != null)
            {
                foreach (SpecialPackage item in ViewBag.splPkgs)
                {
                    <div class="room-box clearfix">
                        <div class="img-container col-xs-6">
                            <a href="Offers/@item.NameEn.Replace(" ","")">
                                <img src="@item.ImageAr" alt="@item.NameAr">
                            </a>

                        </div>
                        <div class="details col-xs-6">
                            <div class="title">
                                @*<a href="#">@item.NameAr</a>*@
                                @Html.ActionLink(item.NameAr, "Offers", "latestoffers", new { @name = item.NameEn.Replace(" ", ""), @class = "" }, null)
                            </div>
                            <div class="desc">
                                @if (item.Mode == 1)
                                {

                                    <div class="truncateDesc2">
                                        @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr.Replace("<p><br></p>", "")))
                                        
                                    </div>                                    
                                    <div><a href="~/ar/Offers/@item.NameEn.Replace(" ","")" class="text ">أكثر من..</a></div>
                                    <div class="bottom-align-text ">
                                        <a href="tel:0096692000555" class="btn btn-default" target="_blank">احجز الأن</a>
                                    </div>
                                }
                                else
                                {

                                    <div class="truncateDesc">
                                        @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr.Replace("<p><br></p>", "")))
                                        
                                    </div>
                                    <div><a href="~/ar/Offers/@item.NameEn.Replace(" ","")" class="text">أكثر من..</a></div>
                                    <div class="truncateAmenity">
                                        <ul class="facilities list-inline">
                                            @for (int i = 0; i < item.arAmnEn.Length; i++)
                                            {
                                                if (!String.IsNullOrEmpty(item.arAmnAr[i]))
                                                {
                                                    <li><i class="fa @item.amIcons[i]"></i>@item.arAmnAr[i]</li>
                                                }

                                            }

                                        </ul>
                                    </div>

                                    <div class="bottom-align-text ">
                                        @if (item.BookingRedirection && item.bookingURL != "")
                                        {<a href="@item.bookingURL" class="btn btn-default">احجز الأن</a>}
                                    </div>
                                }
                            </div>

                            <div class="price">
                                <span> @Convert.ToInt64(item.OfferPrice) ريال سعودي   </span>
                                @if (item.Mode == 1)
                                {
                                    @("- للفرد  ")
                                }
                                @if (item.Mode == 2)
                                {
                                    @("- لليلة واحدة ")
                                }
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <p>No Content Available</p>
            }

        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        
    </script>
}
