﻿<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">    
    <link href="~/Areas/ar/assets/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/assets/img/fav.png" />
    @RenderSection("styles", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adc76c1227d3d7edc24839b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>
    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">
            <!-- Contact Info -->
            <ul class="contact-info list-inline">
                <li><i class="fa fa-phone"></i>920000555</li>
                <li><i class="fa fa-envelope-o"></i>info@brairahotels.com</li>
                <li><a href="http://csadms.com/brairadev/ar/findahotel">Find A Hotel</a></li>
            </ul>
            <ul class="list-inline social-icons text-right">
                <li><a href="https://www.facebook.com/brairahotels/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                <li><a href="https://twitter.com/brairahotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <!-- End of Language Switcher -->
        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header -->
    <header id="main-header">
        <div class="inner-container container">
            <div class="left-sec col-sm-4 col-md-2 clearfix">
                <!-- Top Logo -->
                <div id="top-logo">
                    <div class="title">
                        <a href="http://csadms.com/brairadev/ar/">
                            <img src="~/Areas/ar/assets/img/braira-new-logo.png" alt="Braira Logo" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-sec col-sm-8 col-md-10 clearfix">
                <!-- Main Menu -->
                <nav id="main-menu">
                    @{
                        List<BrairaHotel.CustomMenuDTO> CustomMenuList = (List<BrairaHotel.CustomMenuDTO>)Session["HomeMenuList"];
                        List<BrairaHotel.ManageCountriesDTO> countryList = (List<BrairaHotel.ManageCountriesDTO>)Session["CountriesList"];
                        List<BrairaHotel.ManageCitiesDTO> cityList = (List<BrairaHotel.ManageCitiesDTO>)Session["CitiesList"];
                        List<BrairaHotel.ManageBranchesDTO> BranchList = (List<BrairaHotel.ManageBranchesDTO>)Session["BranchesList"];
                    }
                    <ul class="list-inline">
                        @if (CustomMenuList != null)
                        {
                            foreach (var MenuItem in CustomMenuList)
                            {
                                if (MenuItem.DynamicBranches != true)
                                {
                                    if (MenuItem.Id == 1)
                                    {
                                        <li><a href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())"><i class="fa fa-home color-pink"></i>@MenuItem.NameAr</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())">@MenuItem.NameAr</a></li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="javascript:;">@MenuItem.NameAr</a>
                                        <ul>
                                            @foreach (var cnt in countryList)
                                            {
                                                <li>
                                                    <a href="javascript:;">@cnt.NameAr</a>
                                                    <ul>
                                                        @foreach (var ct in cityList)
                                                        {
                                                            if (ct.CountryId == cnt.Id)
                                                            {
                                                                if (MenuItem.Id == 3)
                                                                {
                                                                    <li>
                                                                        <a href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@ct.NameEn.ToLower().Replace(" ", "-")">@ct.NameAr</a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a href="javascript:;">@ct.NameEn</a>
                                                                        <ul>
                                                                            @foreach (var br in BranchList)
                                                                            {
                                                                                if (br.CityId == ct.Id)
                                                                                {
                                                                                    <li><a href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameAr</a></li>
                                                                                }
                                                                            }
                                                                        </ul>

                                                                    </li>
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            <li><a href="@(Session["UrlPrepend"] +"/ar/")"><i class="fa fa-home color-pink"></i>الرئيسية</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/latestoffers")">اخر العروض</a></li>
                            <li><a href="#">معرض الميديا</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/news")">الأخبار</a></li>
                            <li><a href="#">فروعنا</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/careers")">وظائف</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/about")">عن بودل</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/contact")">اتصل بنا</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/home/changelanguage")">English</a></li>
                        }
                    </ul>



                    @*<ul class="list-inline">
                        <li> <a href="~/ar">الرئيسية</a></li>
                        <li><a href="~/ar/latestoffers">اخر العروض</a></li>
                        <li>
                            <a href="javascript:;">معرض الميديا</a>
                            <ul>
                                <li>
                                    <a href="javascript:;">الخبر</a>
                                    <ul>
                                        <li><a href="~/ar/azizyagallery">العزيزيه</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">الرياض</a>
                                    <ul>
                                        <li><a href="~/ar/alsahafagallery">الصحافة</a></li>
                                        <li><a href="~/ar/olayagallery">العليا</a></li>
                                    </ul>
                                </li>                                
                            </ul>
                        </li>
                        <li><a href="~/ar/news">الأخبار</a></li>
                        <li>
                            <a href="javascript:;">فروعنا</a>
                            <ul>                                
                                <li>
                                    <a href="javascript:;">الخُبر</a>
                                    <ul>
                                        <li><a href="~/ar/alazizyabranch">العزيزيه</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">الرياض</a>
                                    <ul>                                        
                                        <li><a href="~/ar/olayabranch">العليا</a></li>
                                        <li><a href="~/ar/brairaqortobah">قرطبة</a></li>
                                        <li><a href="~/ar/alwazaratbranch">الوزارات</a></li>
                                        <li><a href="~/ar/brairahitin">حطين</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">الدمام</a>
                                    <ul>
                                        <li><a href="~/ar/aldammambranch">الدمام</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="~/ar/careers">وظائف</a></li>
                        <li><a href="~/ar/about">عن بريرا</a></li>
                        <li><a href="~/ar/contact">اتصل بنا</a></li>
                        <li><a href="~/">English</a></li>
                    </ul>*@
                </nav>
                <!-- Menu Handel -->
                <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
    </header>
    <!-- End of Main Header -->
    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-sm-6 col-md-3">
                <h4>عن بودل</h4>
                <div class="widget-content">
                    تأسست شركة بودل عام ١٩٥٩م تحت اسم شركة صالح ناصر الخليوى وأولاده التجارية. وخلال أعوام قليلة إستطاعت الشركة إقامة العديد من الفنادق فى عدة مناطق من المملكة و دولة الكويت, وخلال مسيرة الشركة فى مجال الصناعة الفندقية, أنشأت العلامة التجارية الأولى فى مجال إدارة وتشغيل الفنادق فى المملكة.
                </div>
            </div>
            <div class="widget col-sm-6 col-md-3">
                <h4>قائمة البريد الالكترونية</h4>
                <div class="widget-content">
                    <div class="desc">
                        اشترك لمعرفة اخر العروض الخاصة بنا
                    </div>
                    <form class="news-letter-form">
                        <input type="text" class="email" placeholder="البريد الإلكتروني">
                        <input type="submit" class="btn btn-default" value="أفتح حساب الأن">
                    </form>
                </div>
            </div>
            <div class="widget col-sm-6 col-md-3 get-in-touch">
                <h4>ابقى على تواصل</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker"></i> شارع الرشد، قرطبة، الرياض 13245، السعودية</li>
                        <li><i class="fa fa-phone"></i> 920000555</li>
                        <li><i class="fa fa-envelope-o"></i> info@brairahotels.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/brairahotels/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="https://twitter.com/brairahotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="~/areas/ar/assets/img/app-img.png" class="img-responsive mobile-img" />
                <p class="text-center">
                    <strong>حمل تطبيق بودل الآن </strong>
                </p>
                <hr />
                <ul class="list-unstyled footer-link-img">
                    <li>
                        <a href="javascript:;"><img src="~/areas/ar/assets/img/appstore.png" class="footer-img" /></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="~/areas/ar/assets/img/google-play.png" class="footer-img" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">
        <div class="copy-right">
            &copy; 2018  جميع الحقوق محفوظة لشركة بودل. تم تطويره من خلال <a href="http://www.creative-sols.com" target="_blank" > شركة الحلول الإبداعية المحدودة </a>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Include the js files  -->    
    <script src="~/Areas/ar/assets/js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/helper.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/template.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
