﻿<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Braira Four Star Hotels Saudi Arabia</title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">    
    <link href="https://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/img/fav.png" />
    @RenderSection("styles", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adc76c1227d3d7edc24839b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <link href="~/fonts/css/animation.css" rel="stylesheet" />
    <link href="~/fonts/css/fontello.css" rel="stylesheet" />
    <link href="~/Areas/ar/assets/MegaMenu/src/navik.menu.css" rel="stylesheet" />
    <link href="~/Areas/ar/assets/css/styles.css" rel="stylesheet" />

</head>
<body>
    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">
            <!-- Contact Info -->
            <ul class="contact-info list-inline">
                <li><i class="fa fa-phone"></i>920000555</li>
                <li><i class="fa fa-envelope-o"></i>info@brairahotels.com</li>
               
            </ul>
            <ul class="list-inline social-icons text-right">
                <li><a href="https://www.facebook.com/brairahotels/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                <li><a href="https://twitter.com/brairahotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <!-- End of Language Switcher -->
        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header -->    
    <div class="navik-header header-shadow navik-mega-menu mega-menu-fullwidth">
        <div class="container-fluid">
            <div class="navik-header-container">
                @{var websiteurl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]);
                    var imgurl = websiteurl + "assets/img/braira-new-logo.png";
                }
                <div class="logo" data-mobile-logo="@imgurl" data-sticky-logo="@imgurl">
                    <a href="~/ar"><img src="@imgurl" alt="Braira Logo" /></a>
                </div>
                

                <div class="burger-menu">
                    <div class="line-menu line-half first-line"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu line-half last-line"></div>
                </div>

                <nav class="navik-menu menu-caret submenu-top-border">
                    @{
                        List<BrairaHotel.CustomMenuDTO> CustomMenuList1 = (List<BrairaHotel.CustomMenuDTO>)Session["HomeMenuList"];
                        List<BrairaHotel.ManageCountriesDTO> countryList1 = (List<BrairaHotel.ManageCountriesDTO>)Session["CountriesList"];
                        List<BrairaHotel.ManageCitiesDTO> cityList1 = (List<BrairaHotel.ManageCitiesDTO>)Session["CitiesList"];
                        List<BrairaHotel.ManageBranchesDTO> BranchList1 = (List<BrairaHotel.ManageBranchesDTO>)Session["BranchesList"];
                    }
                    <ul>
                        @if (CustomMenuList1 != null)
                        {
                            int i = 1, j = 1, count = 1;
                            foreach (var MenuItem in CustomMenuList1)
                            {
                                if (MenuItem.DynamicBranches != true)
                                {
                                    <li class="">
                                        @if (MenuItem.Id == 1)
                                        {
                                            <a class="mega-menu" href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())">
                                               @if (MenuItem.NameEn == "ABOUTUS")
                                               {
                                                   @Html.Raw("عن بريرا")
                                               }
                                               else
                                               {
                                                   @MenuItem.NameAr
                                               }
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="mega-menu" href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())">
                                                @if (MenuItem.NameEn == "ABOUTUS")
                                                {
                                                    @Html.Raw("عن بريرا")
                                                }
                                                else
                                                {
                                                     @MenuItem.NameAr
                                                }
                                            </a>
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li class="mega-menu">
                                        <a class="" href="#">@MenuItem.NameAr</a>
                                        <ul>
                                            <li class="dropdown_menu">
                                                <div class="mega-menu-container">
                                                    <div class="row">
                                                        @if (countryList1 != null)
                                                        {
                                                            foreach (var cnt in countryList1)
                                                            {
                                                                if (cityList1 != null)
                                                                {
                                                                    foreach (var ct in cityList1)
                                                                    {
                                                                        if (ct.CountryId == cnt.Id)
                                                                        {
                                                                            <div class="col-md-2 col-lg-2">
                                                                                <div class="mega-menu-box">
                                                                                    @if (BranchList1 != null)
                                                                                    {
                                                                                        int tempi = 1;
                                                                                        <h4 class="mega-menu-heading">
                                                                                            <a href="#">@ct.NameAr</a>
                                                                                        </h4>
                                                                                        <ul class="mega-menu-list">
                                                                                            @foreach (var br in BranchList1)
                                                                                            {
                                                                                                if (br.CityId == ct.Id)
                                                                                                {
                                                                                                    <li><a onmouseover="hoverdivOpen('@br.ImagePath','@MenuItem.NameEn.Replace(" ","").Replace("&","")')" onmouseout="hoverdivclose('e','@MenuItem.NameEn.Replace(" ","").Replace("&","")')" href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameAr</a></li>
                                                                                                    tempi++;
                                                                                                }
                                                                                            }
                                                                                        </ul>
                                                                                    }
                                                                                </div>
                                                                            </div>

                                                                        }

                                                                    }
                                                                }
                                                            }
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="mega-menu-box">
                                                                    <div class="mega-menu-thumbnail">
                                                                        <img id="shopimgid-@MenuItem.NameEn.Replace(" ","").Replace("&","")" src="~/assets/img/gallery/gallerybraira.jpg" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            }
                        }
                        @*}*@

                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-shadow-wrapper"></div>
    </div>
    @*<header id="main-header">
        <div class="inner-container container">
            <div class="left-sec col-sm-4 col-md-2 clearfix">
                
                <div id="top-logo">
                    <div class="title">
                        <a href="http://brairahotels.com/ar/">
                            <img src="~/Areas/ar/assets/img/braira-new-logo.png" alt="Braira Logo" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-sec col-sm-8 col-md-10 clearfix">
                
                <nav id="main-menu">
                    @{
                        List<BrairaHotel.CustomMenuDTO> CustomMenuList = (List<BrairaHotel.CustomMenuDTO>)Session["HomeMenuList"];
                        List<BrairaHotel.ManageCountriesDTO> countryList = (List<BrairaHotel.ManageCountriesDTO>)Session["CountriesList"];
                        List<BrairaHotel.ManageCitiesDTO> cityList = (List<BrairaHotel.ManageCitiesDTO>)Session["CitiesList"];
                        List<BrairaHotel.ManageBranchesDTO> BranchList = (List<BrairaHotel.ManageBranchesDTO>)Session["BranchesList"];
                    }
                    <ul class="list-inline">
                        @if (CustomMenuList != null)
                        {
                            foreach (var MenuItem in CustomMenuList)
                            {
                                if (MenuItem.DynamicBranches != true)
                                {
                                    if (MenuItem.Id == 1)
                                    {
                                        <li><a href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())"><i class="fa fa-home color-pink"></i>@MenuItem.NameAr</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@(Session["UrlPrepend"] + MenuItem.UrlAr.ToLower())">@MenuItem.NameAr</a></li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="javascript:;">@MenuItem.NameAr</a>
                                        <ul>
                                            @if (countryList != null)
                                            {
                                                foreach (var cnt in countryList)
                                                {
                                                    <li>
                                                        <a href="javascript:;">@cnt.NameAr</a>
                                                        <ul>
                                                            @if (cityList != null)
                                                            {
                                                                foreach (var ct in cityList)
                                                                {
                                                                    if (ct.CountryId == cnt.Id)
                                                                    {
                                                                        if (MenuItem.Id == 3)
                                                                        {
                                                                            <li>
                                                                                <a href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@ct.NameEn.ToLower().Replace(" ", "-")">@ct.NameAr</a>
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li>
                                                                                <a href="javascript:;">@ct.NameAr</a>
                                                                                <ul>
                                                                                    @if (BranchList != null)
                                                                                    {
                                                                                        foreach (var br in BranchList)
                                                                                        {
                                                                                            if (br.CityId == ct.Id)
                                                                                            {
                                                                                                <li><a href="@(Session["UrlPrepend"] + MenuItem.SubUrlAr.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameAr</a></li>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                    
                                                                                </ul>

                                                                            </li>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                           
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                            
                                        </ul>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            <li><a href="@(Session["UrlPrepend"] +"/ar/")"><i class="fa fa-home color-pink"></i>الرئيسية</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/latestoffers")">اخر العروض</a></li>
                            <li><a href="#">معرض الميديا</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/news")">الأخبار</a></li>
                            <li><a href="#">فروعنا</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/careers")">وظائف</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/about")">عن بودل</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/contact")">اتصل بنا</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/ar/home/changelanguage")">English</a></li>
                        }
                    </ul>



                   
                </nav>
                
                <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
    </header>*@
    <!-- End of Main Header -->
    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-sm-6 col-md-3">
                <h4>عن بودل</h4>
                <div class="widget-content">
                    تأسست شركة بودل عام ١٩٥٩م تحت اسم شركة صالح ناصر الخليوى وأولاده التجارية. وخلال أعوام قليلة إستطاعت الشركة إقامة العديد من الفنادق فى عدة مناطق من المملكة و دولة الكويت, وخلال مسيرة الشركة فى مجال الصناعة الفندقية, أنشأت العلامة التجارية الأولى فى مجال إدارة وتشغيل الفنادق فى المملكة.
                </div>
            </div>
            <div class="widget col-sm-6 col-md-3">
                <div id="uSubScribe">
                    <h4>قائمة البريد الالكترونية</h4>
                    <div class="widget-content">
                        <div class="desc">
                            اشترك لمعرفة اخر العروض الخاصة بنا
                        </div>
                        <form class="news-letter-form">
                            <input type="text" id="id1" class="email" placeholder="البريد الإلكتروني" required>
                            <div class="emsg" style="color:red"></div>
                            @*<input type="submit" class="btn btn-default" value="أفتح حساب الأن">*@
                            <input type="button" class="btn btn-default" value="اشتراك" onclick="btn()" />
                        </form>
                    </div>
                </div>
                <div class="smsg" style="color:white" id="uSubScription"></div>
                </div>
            <div class="widget col-sm-6 col-md-3 get-in-touch">
                <h4>ابقى على تواصل</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker"></i> شارع الرشد، قرطبة، الرياض 13245، السعودية</li>
                        <li><i class="fa fa-phone"></i> 920000555</li>
                        <li><i class="fa fa-envelope-o"></i> info@brairahotels.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/brairahotels/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="https://twitter.com/brairahotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="~/areas/ar/assets/img/app-img.png" class="img-responsive mobile-img" />
                <p class="text-center">
                    <strong>حمل تطبيق بودل الآن </strong>
                </p>
                <hr />
                <ul class="list-unstyled footer-link-img">
                    <li>
                        <a href="https://itunes.apple.com/us/app/boudl-group/id1323623969?ls=1&mt=8" target="_blank"><img src="~/areas/ar/assets/img/appstore.png" class="footer-img" /></a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.cs.boudl" target="_blank"><img src="~/areas/ar/assets/img/google-play.png" class="footer-img" /></a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">
        <div class="copy-right">
            &copy; @DateTime.Today.Year  جميع الحقوق محفوظة لشركة بودل. تم تطويره من خلال <a href="http://www.creative-sols.com" target="_blank" > شركة الحلول الإبداعية المحدودة </a>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Include the js files  -->    
    <script src="~/Areas/ar/assets/js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/helper.js"></script>
    <script type="text/javascript" src="~/Areas/ar/assets/js/template.js"></script>
    <script>
        $('#uSubScription').hide();
        function btn() {
            var emailId = $('#id1').val();
            var reg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;


            if (/^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/.test(emailId) == false)
            {
                $(".emsg").text("بريد الكتروني خطأ");
            }
            else
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Subscribe", "Home")',
                    dataType: 'json',
                    data: { email: emailId },
                    success: function (data) {
                        var res = data.success;
                        if (res == "1")
                        {
                            $(".emsg").text("تم الإشترك بناح , شكراً لإهتمامك");
                            $(".smsg").text("");
                        }

                        else if (res == "2")
                        {
                            $(".emsg").text("");
                            $('#uSubScribe').hide(); $('#uSubScription').show();
                            $(".smsg").text("تم الإشتراك بنجاح");
                        }
                        else if (res == "3")
                        {
                            $(".smsg").text("");
                            $(".emsg").text("يرجى إدخال البريد الإلكتروني");
                        }

                    },
                    error: function (ex) {
                        alert(ex)
                    }
                });
            }
        }
    </script>
    @RenderSection("scripts", required: false)

    <script>
        var image = ("@websiteurl" + "assets/img/gallery/gallerybraira.jpg");
    function hoverdivOpen(e, name) {
        $("#shopimgid-" + name).attr("src", e);
    }
    function hoverdivclose(e, name) {
        $("#shopimgid-" + name).attr("src", image);
    }
    </script>
    <script src="~/Areas/ar/assets/MegaMenu/src/navik.menu.js"></script>
    <script type="text/javascript">
        $("p").removeClass("p1"); $("p").removeClass("p2");
        $("p").removeClass("p3");
        $("p").removeClass("p4");
        $("p").removeClass("p5");
    </script>
</body>
</html>
