﻿
@{
    ViewBag.Title = "قريباً إفتتاح فندق عابر فرع الصحافة";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li><a href="~/ar/news">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="javascript:;">
                    <img src="~/assets/img/news/aber-2.jpg" class="post-img" alt="aber " />
                </a>
                <a href="javascript:;" class="post-title">قريباً إفتتاح فندق عابر فرع الصحافة</a>
                <div class="post-desc">
                    <p>
                        تم إفتتاح الفرع الجديد لفندق عابر بحى الصحافة بالرياض , تمتاز فنادق عابر بطابع فخم وبسيط من حيث التصميم والمفهوم وباسعار اقتصادية مع ضمان الجودة العالية والأحترافية في تقديم الخدمات لضيوفنا الكرام . المفهوم الأقتصادي الذي نحرص على تقديمه في هذه المجموعة اصبح حاليا غاية ضرورية للعديد من المسافرين والباحثين عن التغير في نمط الحياة المعتاد . تتميز هذه السلسلة من الفنادق بتقديم خدمات مميزة بأسعار اقتصادية .حيث التصاميم تجمع بين الحداثة والأصالة العربية .
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">28 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

