﻿
@{
    ViewBag.Title = "إفتتاح نارسيس أُبـــحر جدة )";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li><a href="~/ar/news">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="javascript:;">
                    <img src="~/assets/img/news/narcissus-jeddah.png" class="post-img" alt="Narcissus Obhur Jeddah" />
                </a>
                <a href="javascript:;" class="post-title">إفتتاح نارسيس أُبـــحر جدة</a>
                <div class="post-desc">
                    <p>
                        تم في ١ مايو افتتاح منتجع نارسس  في ابحر الشماليه  في مدينة جده والذي يصنف بأنه من فئة الخمس نجوم جمع المنتجع بين الرفاهية والاسترخاء بتصميمه العالمي الفخم للوحدات السكينه كما انه المكان المناسب لرجال الاعمال لعقد اجتماعتهم في قاعة اجتماعات مجهزة ومنظمة .التنوع في المطاعم يشكل مزيج بين سحر الشرق والغرب  كما أن الهدوء وإطلالة البحر الجميل تشكل وجهة للزائرين الراغبين في الاسترخاء برفاهية..
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">10 - May - 2018</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

