﻿
@{
    ViewBag.Title = "Braira Al Wazarat Branch | Braira Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">

    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/1.jpg" alt="qortobah 1" />            
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/2.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/3.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/4.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/5.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/6.jpg" alt="qortobah 1" />
        </div>
        
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/8.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/9.jpg" alt="qortobah 1" />
        </div>

    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>Braira</span> Al Wazarat</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span>- Four Star Hotels</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-in" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-Out" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Adult</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Children</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="Book Now" type="submit" onClick="window.open('http://wizarat.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                Braira AL- Wazarat Hotel which is classified as 4 Star Hotel, became an icon in the Suadi hospitality industry and on of the most famous hotels in Riyadh for many aspects, the hotel has a stunning character, an Amazing view also It features wonderful designs, its location plays a very important role because it is close to the Ministry of Defense and it is only away a few minuses from the city center of Riyadh at Al-Wazarat District. It includes many facilities and services that facilitate the stay of guests and make them feel comfortable and well-being and this is our goal as a series of hotels and resorts Braira. The hotel also has a large number of rooms with different types and facilities to suit all the needs of guests and provide them with a pleasant stay. Braira AL-Wazarat Hotel is popular for its cuisine with the finest chefs to prepare local and international dishes.
            </p>
            <br />
            <h1>
                * Check-in: 4 p.m. * Check-out: 12 p.m.
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/al-wazarat/services.png" alt="Braira Al Wazarat Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Most Popular Facilities</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 112  Standard Room </li>
                        <li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-plane"></i> Swimming Pool</li>
                        <li><i class="fa fa-heartbeat"></i> GYM - Fitness Center</li>
                        <li><i class="fa fa-coffee"></i> SPA</li>
                        <li><i class="fa fa-coffee"></i> Cafe’</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->

<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(24.6740953, 46.7180841);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}