﻿
@{
    ViewBag.Title = "Find Hotels by Location Map | Braira Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
   
}
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <br /><br />ابحث عن فندق <a href="javascript:;" id="Map1"><i class="fa fa-map-marker"></i> خريطة</a> |
        <a href="javascript:;" id="Data1"><i class="fa fa-th-list"></i> قائمة</a>
    </div>
</div>
<div id="" class="pos-rel">
    <aside class="location-container" id="exploremap">
        <div id="divcheck" class="container-fluid">
            <div class="hotel__amenity__filter">
                <div class="filter__container">
                    <div class="heading"><h2>تصفية نتائج البحث <span class="pull-right filter_list_show">اظهار الفلاتر</span></h2></div>
                    <div class="filter__container_list">
                        @if (ViewBag.HotelAmenities != null)
                        {
                            foreach (var item in ViewBag.HotelAmenities)
                            { 
                                <label class="checkbox__container">
                                    @item.Text
                                    <input type="checkbox" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value" />
                                    <span class="checkmark"></span>
                                </label>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Text Widget -->
        <div class="textwidget text-justify">
            <input type="hidden" value="" id="ZoomValue" />
            <input type="hidden" value="" id="latitude" />
            <input type="hidden" value="" id="longitude" />
            <div id="divmap">

            </div>
        </div>
    </aside>
    <!-- Sidebar Section -->
    <div class="main-content container">
        <!-- Sidebar Section -->
        <div class="row" id="exploredata">
            <div class="col-sm-12">

                <hr />
                <div class="col-sm-4">
                    <label>اختر مدينة</label>
                    @Html.DropDownList("HotelList", (IEnumerable<SelectListItem>)ViewBag.CoutrList, "اختر مدينة", new { @Id = "ddlHotel" })<SelectListItem>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <label>اختر خدمات الفندق</label>
                    @Html.ListBox("HotelAmenities", (IEnumerable<SelectListItem>)ViewBag.HotelAmenities, new { @Id = "ddlAmenity", @onchange = "ddlAmty()" })@*<SelectListItem>*@
                </div>
            </div>
            <div class="col-sm-12" id="divhotelcities">


            </div>

        </div>
    </div>
</div>




@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1")
    </script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <script type="text/javascript">
        $("#hoteldetails").hide();
        $('#exploredata').hide();
        $('#exploremap').show();
        $('#Map1').click(function () {
            $('#exploredata').hide();
            $('#exploremap').show();
        })
        $('#Data1').click(function () {
            $('#exploredata').show();
            $('#exploremap').hide();
        })
        //$(document).ready(function () {
        //    debugger;
        //    var $buttonClicked1 = $(this);
        //    var id1 = $buttonClicked.attr('data-id');
        //    var options1 = { "backdrop": "static", keyboard: true };
        //    //var AmntId = "";

        //});
        var HotelId = "";
        $(document).ready(function () {

            $(":checkbox[name='AmenitiesIDs']").change(function () {
                var checked = "";

                $("#divcheck input:checked").each(function () {
                    checked += $(this).val() + ",";
                });
                var LatLongZoom = "";
                var zoom = $("#ZoomValue").val();
                var latlong = $("#latitude").val();
                LatLongZoom = latlong + "," + zoom;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetMapByAmenity")',
                    contentType: "application/json; charset=utf-8",
                    data: { AmenitiesIDs: checked, latlongzoom: LatLongZoom },
                    datatype: "json",
                    success: function (data) {
                        $("#divmap").empty();
                        $('#divmap').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            })

        });
        $(document).ready(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            //var options = { "backdrop": "static", keyboard: true };
            var AmenityId = null;
            var LatLongZoom = null;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapByAmenity")',
                contentType: "application/json; charset=utf-8",
                data: { AmenitiesIDs: AmenityId, latlongzoom: LatLongZoom },
                datatype: "json",
                success: function (data) {
                    $('#divmap').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        });

        $('#ddlHotel').change(function () {
            HotelId = $(this).val();
            // Commented Temporarily
            var AmntId = AmenityId;


            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        })
        function ddlAmty() {
            var hotelid = HotelId;
            var id = "";
            $("#ddlAmenity option:selected").each(function () {
                id += $(this).val() + ",";
            });


            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                contentType: "application/json; charset=utf-8",
                data: { HtId: hotelid, para: id },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        }

        var Hdata = "@ViewData["HotelId"]";
        var Adata = "@ViewData["AmenityId"]";

        if (Hdata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            HotelId = Hdata;
            $('#ddlHotel option[value=' + Hdata + ']').attr("selected", true);
        }
        if (Adata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            AmenityId = Adata.toString();
            $('#ddlAmenity option[value=' + Adata + ']').attr("selected", true);
        }
    </script>

   <script type="text/javascript">
        $(".filter__container_list").hide("slow");

        $(".filter_list_show").on('click', function () {
            if ($(".filter_list_show").html() == "اظهار الفلاتر") {
                $(".filter__container_list").slideToggle();
                $(".filter_list_show").html("اخفاء الفلاتر");
            }
            else {
                $(".filter__container_list").slideToggle();
                $(".filter_list_show").html("اظهار الفلاتر");
            }

        });
</script>

}
