﻿
@{
    ViewBag.Title = "Braira Al Azizya Hotels &amp; Resort Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<div class="room-detail-page">

    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya1.jpg" alt="azizya 1" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya2.jpg" alt="azizya 2" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya3.jpg" alt="azizya 3" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya4.jpg" alt="azizya 4" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya5.jpg" alt="azizya 5" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya6.jpg" alt="azizya 6" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya7.jpg" alt="azizya 7" />
        </div>
        <div class="items">
            <img src="~/areas/ar/assets/img/branches/azizya8.jpg" alt="azizya 8" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>بریرا </span> العزیزیة</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span> - فنادق فئة أربعة نجوم</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">بالغين</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="احجز الأن" type="submit" onClick="window.open('http://azizia.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                یوفر فندق ومنتجع منتجع بریرا العزیزیة مكان إقامة في العزیزیة على بُعد 15 كم من الخبر، ویوفر خدمة واي فاي
                مجانیة، ویشتمل على مسبح خارجي یعمل على مدار السنة، ویتوفر موقف سیارات خاص مجاني في الموقع.
            </p>
            <p>
                تمیز جمیع الغرف في ھذا المنتجع بأنھا مكیفة، وتحتوي على تلفزیون بشاشة مسطحة مع قنوات فضائیة، وتشتمل بعض
                الوحدات على منطقة جلوس حیث یُمكن للضیوف الاسترخاء فیھا، وتتوفر آلة لصنع القھوة في الغرفة، وتحتوي جمیع
                الغرف على حمام خاص، وتتوفر أردیة حمام ونعال لراحة الضیوف.
            </p>
            <p>
                یوفر مكان الإقامة مكتب استقبال یعمل على مدار الساعة.<br />
                یقع فندق ومنتجع منتجع بریرا العزیزیة على بُعد 31 كم من الدمام، كما یقع على بُعد 43 كم من المنامة، ویبعُد مسافة 51
                كم عن مطار الملك فھد الدولي.

            </p><br />
            <h1>
                * الدخول ٤ مساء * الخروج ١٢ مساء ا
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/areas/ar/assets/img/branches/azizya-features.jpg" alt="Braira Azizya Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">المرافق</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 50 عدد الغرف</li>
                        <li><i class="fa fa-building-o"></i> مواجھ للشاطئ </li>
                        <li><i class="fa fa-bed"></i> غرف عائلیة</li>
                        <li><i class="fa fa-wifi"></i> واي فاي مجاني</li>
                        <li><i class="fa fa-car"></i> مواقف سیارات مجانیة</li>
                        <li><i class="fa fa-heartbeat"></i> مركز للیاقة البدنية</li>
                        <li><i class="fa fa-hotel"></i> خدمة الغرف</li>
                        <li><i class="fa fa-coffee"></i> آلة صنع الشاي / القھوة</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(26.190099, 50.212296);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


}
