﻿
@{
    ViewBag.Title = "Braira Al Dammam Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">

    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/AlDammam1.jpg" alt="azizya 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam2.jpg" alt="azizya 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam3.jpg" alt="azizya 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam4.jpg" alt="azizya 4" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam5.jpg" alt="azizya 5" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam6.jpg" alt="azizya 6" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam7.jpg" alt="azizya 7" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam8.jpg" alt="azizya 8" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam9.jpg" alt="azizya 8" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam10.jpg" alt="azizya 8" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam11.jpg" alt="azizya 8" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>Braira</span> Al Dammam</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span>- Five Star Hotels</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-in" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-Out" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Adult</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Children</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="Book Now" type="submit" onClick="window.open('http://dammam.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                The hotel is located on a strategic location overlooking the seaside. The hotel is within the central shopping area and governments district facilities, approximately 20 km away from King Fahd International Airport, and 5 km from Prince Mohammed Bin Fahad International Stadium. Further to that ARAMCO in Dhahran is just 10 km away, and Khobar business district is within easy drive reach.
            </p>
            <h2>Services</h2>
            <p class="text-left">Main restaurant offering daily international buffet or your choice of a-la-carte dishes.</p>
            <p class="text-left">Lobby café featuring assorted coffee, tea, freshly squeezed, fruit juices, and other delicacies.</p>
            <p class="text-left">24 room service.</p>
            <p class="text-left">Indoor swimming pool.</p>
            <p class="text-left">Modern& fully equipped fitness center.</p>
            <p class="text-left">Steam bath, sauna, jacuzzi, and Moroccan bath</p>
            <p class="text-left">Massage rooms offering the variety of relaxing and refreshing massages.</p>
            <h2>MEETING FUNCTIONs</h2>
            <p>
                For a successful event, our meeting room situated at the mezzanine floor, provide an elegant setting for a capacity of 20 to 500 delegates equipped with state-of-the-are facilities and a wide range of advanced audio-visual equipment and WI-FI facilities.

            </p>
            <h2>ACCOMADATION</h2>
            <p>Sophisticated rooms and suits with a panoramic view of the sea and the city. Braira Dammam Hotel offer its cozy living suites, and stylish living rooms. With one or two bedrooms to choose from, equipped with minikitchen including interactive televisions, ironing set and complementary hospitality tray. All suites are well appointed with a choice of a panoramic city, or sea view that defiantly gives all kinds of guests a serene accommodation/stay</p><br />
            <h1>
                * Check-in: 12 p.m. * Check-out: 2 a.m.
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/azizya-features.jpg" alt="Braira Azizya Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Most Popular Facilities</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 50 Rooms</li>
                        <li><i class="fa fa-building-o"></i> Beach-front</li>
                        <li><i class="fa fa-bed"></i> Family Rooms</li>
                        <li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-car"></i> Free Parking</li>
                        <li><i class="fa fa-heartbeat"></i> Fitness Center</li>
                        <li><i class="fa fa-hotel"></i> Room Service</li>
                        <li><i class="fa fa-coffee"></i> Tea / Coffee Maker</li>
                        <li><i class="fa fa-coffee"></i> Coffee Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->

<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(26.470044, 50.1217633);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}