﻿
@{
    ViewBag.Title = "Braira Hitin Branch | Braira Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .video-container {
            position: relative;
            height: 100vh;
            width: 100%;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }

        .video-js {
            width: 100% !important;
        }

            .video-js .vjs-tech {
                height: auto !important;
            }

        @@media (min-width: 468px) and (max-width: 767px) {
            .video-container {
                height: 55vh;
            }
        }

        @@media (max-width: 467px) {
            .video-container {
                height: 33vh;
            }
        }
    </style>
    <link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
}

<div class="room-detail-page">
    <!-- Main Slider -->
    @*<div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/2.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/3.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/4.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/5.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/6.jpg" alt="qortobah 1" />
        </div>

        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/8.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/al-wazarat/9.jpg" alt="qortobah 1" />
        </div>

    </div>*@
    <div id="main-slider">
        <div class="video-container">
            <video id="my-video" class="video-js" preload="auto" poster="http://brairahotels.com/assets/videos/poster.jpg" data-setup="{}" autoplay muted loop>
                <source src="~/assets/videos/BrairaHitin.mp4" type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>


    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">  
                <h2><span>Braira</span> Hitin Resort &amp; Villas</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span>- Four Star Hotels</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-in" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-Out" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Adult</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Children</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="Book Now" type="submit" onClick="window.open('http://hattien.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                Braira Hitin Resort &amp; Villas is a one-of-a-kind premium Villa Resort with a regal presence. And elegance. With striking modern Arabic architecture and uninterrupted Arabian Desert, the luxury Villa Resort, which is nestled amongst swaying palms and soothing water features, appeals to discerning leisure, business and MICE guests seeking a new resort and destination experience. Experience effortless luxury in the uniquely-designed 32 villas, where casual elegance meets contemporary style to reflect the resort’s premier side setting. You will find a range of accommodation options, including 2 villas executive bedrooms, 3 Villas executive bedrooms, 3 villas royal bedrooms with also a private pool with it, and our Royal 4 bedrooms villas with also a private pool with it surely added privileges and personalized service.<br />
                Braira  Resort &amp; Villas offers several exquisite venues, from our lovely 2 floors coffee shop and our unique restaurant. <br />
                A terrace with stunning view over the pool and the whole resort. The leisure facilities are outstanding Too ,work up a sweat in the modern gym ; find solace at our SPA offering Turkish Hammam, treatment rooms, female full saloon, or make the most of the outdoor huge pool and also the kids pool.
            </p>
            <br />
            <h1>
                * Check-in: 4 p.m. * Check-out: 12 p.m.
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/al-wazarat/services.png" alt="Braira Al Wazarat Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Most Popular Facilities</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 112  Standard Room </li>
                        <li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-plane"></i> Swimming Pool</li>
                        <li><i class="fa fa-heartbeat"></i> GYM - Fitness Center</li>
                        <li><i class="fa fa-coffee"></i> SPA</li>
                        <li><i class="fa fa-coffee"></i> Cafe’</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->

<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(24.754645, 46.586275);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<script src="http://vjs.zencdn.net/6.4.0/video.js"></script>
}