﻿
@{
    ViewBag.Title = "News Details Braira Hotels";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">    
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li><a href="~/ar/news">الأخبار</a></li>
        <li class="active">Details</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="#">
                    <img src="~/areas/ar/assets/img/blog/news1.jpg" alt="braira hotel news" class="post-img" />
                </a>
                <a href="#" class="post-title">Braira New Branch Launch</a>
                <div class="post-desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati vel, et hic. Magni delectus tempore iste, neque minus in! At praesentium sunt dolore quas similique temporibus vel excepturi nostrum facere, consectetur quae magni dicta accusantium obcaecati voluptate. Minus, modi ab.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sunt dignissimos magnam aperiam atque blanditiis a, explicabo ut, nam, optio sapiente! Blanditiis eius deleniti repellendus, cumque cupiditate pariatur doloribus quam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eum incidunt quisquam ea, ipsam repudiandae iste, deserunt ut praesentium modi unde culpa atque et mollitia officia sed. Repellat quia soluta temporibus itaque odio odit veritatis iure ab praesentium! Dolorem voluptas, reprehenderit nisi doloribus rem vero. Velit iusto iste, iure rem?
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati vel, et hic. Magni delectus tempore iste, neque minus in! At praesentium sunt dolore quas similique temporibus vel excepturi nostrum facere, consectetur quae magni dicta accusantium obcaecati voluptate. Minus, modi ab.
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sunt dignissimos magnam aperiam atque blanditiis a, explicabo ut, nam, optio sapiente! Blanditiis eius deleniti repellendus, cumque cupiditate pariatur doloribus quam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eum incidunt quisquam ea, ipsam repudiandae iste, deserunt ut praesentium modi unde culpa atque et mollitia officia sed. Repellat quia soluta temporibus itaque odio odit veritatis iure ab praesentium! Dolorem voluptas, reprehenderit nisi doloribus rem vero. Velit iusto iste, iure rem?
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">25 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}
