﻿
@{
    ViewBag.Title = "Braira Villas Grand Opening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="javascript:;">
                    <img src="~/assets/img/news/braira-hitin.jpg" class="post-img" alt="Braira  " />
                </a>
                <a href="javascript:;" class="post-title">Braira Villas Grand Opening</a>
                <div class="post-desc">
                    <p>
                        Braira Hotel &amp; Villas is now open to the public in Hitin district- Riyadh City. This is the first time in the Kingdom that a hotel & Villa has been established, consisting of private villas comprising all services in an elegant style, furniture that is very luxurious and elegant. The resort is fully integrated in terms of services and entertainment. Each has a private swimming pool and glamour decorations.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

