﻿
@{
    ViewBag.Title = "Offer Al Azizya Braira Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/offers-header.jpg">    
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar">الرئيسية</a></li>
        <li class="active">اخر العروض</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Welcome -->
<div id="welcome" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>اخر العروض</span></h2>
        <!-- Title -->
    </div>
    <!-- Inner section -->
    <div class="inner-content">
        <div class="image-main-box">
            <img src="~/Areas/ar/assets/img/offers/offer1.jpg" alt="welcome to Braira Hotels" class="img-responsive">
        </div>
        <div class="desc text-left">
            <p>
                عيش اجمل ايامك مع عرض بريرا العزيزية لأول مرة 60% خصم على الإقامة بالفِلل
                طيلة أيام الأسبوع ماعدا الخميس والجمعة, احجزه الآن.


            </p>     <br /><br />
        </div>
    </div>
</div>
<!-- End of Welcome -->
<div class="room-detail-page">
    <div class="booking-title-box">
        <div class="booking-title-box-inner container">

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields text-left col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">بالغين</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="احجز الأن" type="submit" /><!-- Submit button -->
                </div>
            </form>
            <div class="clearfix"></div><br /><br /><br />
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages room-details trans-header sticky")
    </script>
}