﻿
@{
    ViewBag.Title = "Braira Hitin Branch | Braira Hotels";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .video-container {
            position: relative;
            height: 100vh;
            width: 100%;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }

        .video-js {
            width: 100% !important;
        }

            .video-js .vjs-tech {
                height: auto !important;
            }

        @@media (min-width: 468px) and (max-width: 767px) {
            .video-container {
                height: 55vh;
            }
        }

        @@media (max-width: 467px) {
            .video-container {
                height: 33vh;
            }
        }
    </style>
    <link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
}

<div class="room-detail-page">
    <!-- Main Slider -->
    @*<div id="room-details-slider">
            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/1.jpg" alt="qortobah 1" />
            </div>
            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/2.jpg" alt="qortobah 1" />
            </div>
            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/3.jpg" alt="qortobah 1" />
            </div>
            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/4.jpg" alt="qortobah 1" />
            </div>
            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/5.jpg" alt="qortobah 1" />
            </div>
            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/6.jpg" alt="qortobah 1" />
            </div>

            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/8.jpg" alt="qortobah 1" />
            </div>
            <div class="items">
                <img src="~/assets/img/branches/al-wazarat/9.jpg" alt="qortobah 1" />
            </div>

        </div>*@
    <div id="main-slider">
        <div class="video-container">
            <video id="my-video" class="video-js" preload="auto" poster="http://brairahotels.com/assets/videos/poster.jpg" data-setup="{}" autoplay muted loop>
                <source src="~/assets/videos/BrairaHitin.mp4" type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>


    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>بریرا </span> حطين</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span> - فنادق فئة أربعة نجوم</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">بالغين</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="احجز الأن" type="submit" onClick="window.open('http://hattien.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                منتجع فلل بريرا حطين
                يقدم Braira Resort & Villas العديد من الأماكن الرائعة ، من مقهىنا الجميل المكون من طابقين ومطعمنا الفريد.
                شرفة مع منظر مذهل على حمام السباحة والمنتجع بأكمله. المرافق الترفيهية هي المعلقة جدا ، وتعمل على التعرق في الصالة الرياضية الحديثة. يمكنك العثور على العزاء في السبا الخاص بنا الذي يقدم حمام تركي أو غرف علاج أو صالون كامل للإناث أو الاستفادة القصوى من المسبح الضخم في الهواء الطلق ومسبح الأطفال أيضًا.
            </p>
            <p>
                يُعد منتجع فيلات بريرا حطين منتجع فريج من نوعه لتميزه بالطابع الملكي و الأناقة, مع الهندسة المعمارية العربية الحديثه اللافتة, يشمل المنتجع فيلات فاخرة وسط الأشجار و الزهور و النخيل المتمايل و الذي يضفي على المكان الهدوء و الراحة. يحب هذا المكان الضيوف الباحثيين عن الترفيه و رجال الأعمال الذين يبحثون عن تجربة جديدة. يمكنك الاستمتاع بفخامة بلا حدود في فيلات مكونة من ٣٢ وحدة مصممة بشكل فريد, حيث تلتقي الأناقة مع الطراز المعاصر. ستجد مجموعة من خيارات الأقامة لتختار ما يناسبك كفيلا مع غرفتي نوم تنفيذيين , فيلا ٣ غرف نوم تنفيذية, فيلا مكونة من ٣ غرف نوم ملكية مع مسبح خاص, و فيلات ملكية مكونة من ٤ غرف نوم مع مسبح خاص مع امتيازات كثيرة أخرى.
            </p>
            <p>
                يقدم منتجع فيلات بريرا حطين العديد من الأماكن الرائعة, من مقهى جميل مكون من طابقين بأطلالة رائعة و مطعم فريد يقدم أشهى المأكولات المحلية و العالمية.
                شرفة مع منظر مذهل على حمام السباحة والمنتجع بأكمله.و يضم العديد من  المرافق الترفيهية مثل الصالة الرياضية الحديثة. يمكنك الأسترخاء في السبا الخاص بنا الذي يقدم حمام تركي و صالون كامل للسيدات و الأستمتاع بالمسبح الضخم في الهواء الطلق ومسبح الأطفال أيضًا.

            </p>
            <p>
                تشمل مرافق الطعام مطعماً وكافتيريا. يتوفر فيه الإفطار تتوفر أيضًا خدمة الغرف. سيقدر ضيوف المنتجع الخدمات الترحيبية لموظفينا متعددي اللغات. 
            </p>
            <p>
                خدمات أخرى: نادي الأطفال أو رعاية الأطفال , القهوة في اللوبي وكوفي شوب / مقهى وجرائد مجانية في اللوبي وخدمات الكونسيرج والتنظيف الجاف / خدمة غسيل الملابس .
                الإنترنت : تتوفر خدمة الإنترنت في المنتجع الذي يوفر الوصول السلكي عالي السرعة مجانًا.

            </p>
            <h1>
                * مساء 2 * اوقات الدخول * مساء 12 * اوقات الخروج
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/areas/ar/assets/img/branches/olaya-features.jpg" alt="Braira Olaya Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">المرافق</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 112 عدد الغرف</li>
                        <li><i class="fa fa-building-o"></i> مسبح خارجي</li>
                        <li><i class="fa fa-bed"></i> غرف عائلیة</li>
                        <li><i class="fa fa-wifi"></i> واي فاي مجاني</li>
                        <li><i class="fa fa-car"></i> مواقف سیارات مجانیة</li>
                        <li><i class="fa fa-heartbeat"></i> مركز للیاقة البدنیة</li>
                        <li><i class="fa fa-fighter-jet"></i> خدمة نقل المطار</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->

<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(24.754645, 46.586275);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script src="http://vjs.zencdn.net/6.4.0/video.js"></script>
}