﻿
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
}

<!-- Internal Page Header -->

<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="">Home</a></li>
        <li class="active">About Us</li>
    </ol>
</div>

<!-- End of Internal Page Header  -->
<!-- Welcome -->
<div id="welcome" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>Welcome to <span>Braira Hotels</span></h2>
        <!-- Title -->
    </div>
    <!-- Inner section -->
    <div class="inner-content padding-bottom-50">
        @if (ViewBag.AboutusList != null)
        {
            foreach (var item in ViewBag.AboutusList)
            {
                <div class="img-frame">
                    <img src=@item.ImageEn />
                </div>
                <div class="desc text-left">
                    @Html.Raw(HttpUtility.HtmlDecode(@item.ContentEn))
                </div>
            }
        }
    @*<div class="img-frame">            
            <img src="~/assets/img/braira-about-us.jpg" alt="welcome to Braira Hotels" />
        </div>
        <div class="desc text-left">
            <p>
                <strong>Brief about Braira</strong><br />
                Braira which is a four star hotel is considered to be one of the most important and most famous brands in the field of tourism and hotels for many considerations:<br />
                - The luxury felt by guests in all hotel parts.<br />
                - The enormous luxury that guests in all hotel parts.<br />
                - Mixing the classical Arabic style known for its hospitality and authenticity along with modern luxury which is present in all hotel services.<br /><br />
                Moreover, the guest can enjoy the luxury of 8 current hotels in addition to 8 under construction hotels.
That’s why and among all Boudl Group hotels, Braira Hotels ranks First among four star hotels that meet all families, businessmen, and individual’s needs. The fact is witnessed by all guests. The exquisite services and luxury make repeating the experience a future dream and goal for all guests.

            </p>     <br /><br />      
        </div>*@
    </div>
</div>
<!-- End of Welcome -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky")
    </script>
}