﻿
@{
    ViewBag.Title = "About Braira Four Star Hotels &amp; Resorts Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<!-- Internal Page Header -->
@foreach (var item in ViewBag.PageHeader)
{
    <div class="internal-page-title about-page about-header" data-parallax="scroll" data-image-src=@item.ImagePath>
        <ol class="breadcrumb">
            <!-- Internal Page Breadcrumb -->
            <li><a href="">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
}

@*<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/about-us-header-1.jpg">
    <ol class="breadcrumb">

        <li><a href="~/ar">الرئيسية</a></li>
        <li class="active">نبذة عن</li>
    </ol>
</div>*@
<!-- End of Internal Page Header -->
<!-- Welcome -->
<div id="welcome" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>مرحبا في فنادق و منتجعات <span> بريرا</span></h2>
        <!-- Title -->
    </div>
    <!-- Inner section -->
    <div class="inner-content">
        @if (ViewBag.AboutusList != null)
        {
            foreach (var item in ViewBag.AboutusList)
            {
                <div class="img-frame">
                    <img src=@item.ImageAr />
                </div>
                <div class="desc text-left">
                    @Html.Raw(HttpUtility.HtmlDecode(@item.ContentAr))
                </div>
            }
        }
    @*<div class="img-frame">
            <img src="~/areas/ar/assets/img/braira-about-us.jpg" alt="welcome to Braira Hotels" />
        </div>
        <div class="desc text-left">
            <p>
                <strong>نبذة عن بریرا</strong><br />
                یُعد بریرا ذو تصنیف الأربع نجوم واحداً من أھم وأشھر العلامات التجاریة في مجال السیاحة والفنادق لعدة اعتبارات
                أھمھا؛<br />
                - الفخامة التي یشعر بھا الضیوف في كافة أرجاء ھذه الفنادق.<br />
                - والرفاھیة الھائلة التي یمكن للضیوف أن ینعموا بھا.<br />
                - أضف إلى ذلك قدرة الإدارة على مزج الطابع الكلاسیكي العربي المعروف بالضیافة والأصالة مع وسائل الرفاھیة
                الحدیثة التي تتمثل في الخدمات والإمكانیات الموجودة بالفندق.<br /><br />
                كما یمكن للضیف بأن یستمتع بالرفاھیة في 8 فنادق قائمة حالیًا إضافة إلى 8 أخرى تحت الإنشاء. لھذا من بین كل
                فنادق مجموعة بودل استطاعت فنادق بریرا أن تحتل المرتبة الأولى من بین الفنادق ذات فئة الأربع نجوم كمقصد
                للعائلات ورجال الأعمال والأفراد. وھذه حقیقة یشھد بھا كل من أقام بھذه الفنادق؛ كما أن الرفاھیة والخدمات الرائعة
                تجعل تكرار الزیارة والإقامة ھدفا مستقبلیا.
            </p><br /><br />
        </div>*@
    </div>
</div>
<!-- End of Welcome -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky")
    </script>
}