﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title  Braira Four Star Hotels Saudi Arabia </title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.css">
    <link rel="shortcut icon" href="~/assets/img/fav.png" />
    @RenderSection("styles", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adc76c1227d3d7edc24839b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>
    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">
            <!-- Contact Info -->
            <ul class="contact-info list-inline">
                <li><i class="fa fa-phone"></i>9200 00555</li>
                <li><i class="fa fa-envelope-o"></i>info@brairahotels.com</li>
                <li><a href="http://csadms.com/brairadev/findahotel">Find A Hotel</a></li>
            </ul>
            <ul class="list-inline social-icons text-right">
                <li><a href="https://www.facebook.com/brairahotels/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                <li><a href="https://twitter.com/brairahotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <!-- End of Language Switcher -->
        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header -->
    <header id="main-header">
        <div class="inner-container container">
            <div class="left-sec col-sm-4 col-md-2 clearfix">
                <!-- Top Logo -->
                <div id="top-logo">
                    <div class="title">
                        <a href="http://csadms.com/brairadev/">
                            <img src="~/assets/img/braira-new-logo.png" alt="Braira Logo" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-sec col-sm-8 col-md-10 clearfix">
                <!-- Main Menu -->
                <nav id="main-menu">
                    @{
                        List<BrairaHotel.CustomMenuDTO> CustomMenuList = (List<BrairaHotel.CustomMenuDTO>)Session["HomeMenuList"];
                        List<BrairaHotel.ManageCountriesDTO> countryList = (List<BrairaHotel.ManageCountriesDTO>)Session["CountriesList"];
                        List<BrairaHotel.ManageCitiesDTO> cityList = (List<BrairaHotel.ManageCitiesDTO>)Session["CitiesList"];
                        List<BrairaHotel.ManageBranchesDTO> BranchList = (List<BrairaHotel.ManageBranchesDTO>)Session["BranchesList"];
                    }


                    <ul class="list-inline">
                        @if (CustomMenuList != null)
                        {
                            foreach (var MenuItem in CustomMenuList)
                            {
                                if (MenuItem.DynamicBranches != true)
                                {
                                    if (MenuItem.Id == 1)
                                    {
                                        <li><a href="@(Session["UrlPrepend"] + MenuItem.URL.ToLower())"><i class="fa fa-home color-pink"></i>@MenuItem.NameEn</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@(Session["UrlPrepend"] + MenuItem.URL.ToLower())">@MenuItem.NameEn</a></li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="javascript:;">@MenuItem.NameEn</a>
                                        <ul>
                                            @foreach (var cnt in countryList)
                                            {
                                            <li>
                                                <a href="javascript:;">@cnt.NameEn</a>
                                                <ul>
                                                    @foreach (var ct in cityList)
                                                        {
                                                            if (ct.CountryId == cnt.Id)
                                                            {
                                                                if (MenuItem.Id == 3)
                                                                {
                                                        <li>
                                                            <a href="@(Session["UrlPrepend"] + MenuItem.SubUrl.ToLower())/@ct.NameEn.ToLower().Replace(" ", "-")">@ct.NameEn</a>
                                                        </li>
                                                                }
                                                                else
                                                                {
                                                        <li>
                                                            <a href="javascript:;">@ct.NameEn</a>
                                                            <ul>
                                                                @foreach (var br in BranchList)
                                                                            {
                                                                                if (br.CityId == ct.Id)
                                                                                {
                                                                            <li><a href="@(Session["UrlPrepend"] + MenuItem.SubUrl.ToLower())/@br.NameEn.ToLower().Replace(" ", "-")">@br.NameEn</a></li>
                                                                                }
                                                                            }
                                                            </ul>

                                                        </li>
                                                                }
                                                            }
                                                        }
                                                </ul>
                                            </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            <li><a href="@(Session["UrlPrepend"] +"/")"><i class="fa fa-home color-pink"></i>Home</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/latestoffers")">OFFERS</a></li>
                            <li><a href="#">GALLERY</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/news")">NEWS</a></li>
                            <li><a href="#">BRANCHES</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/careers")">CAREERS</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/about")">ABOUTUS</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/contact")">CONTACTUS</a></li>
                            <li><a href="@(Session["UrlPrepend"] +"/home/changelanguage")">العربية</a></li>


                        }
                    </ul>

                    @*<ul class="list-inline">
                        <li> <a href="~/home">Home</a></li>
                        <li><a href="~/latestoffers">Offers</a></li>
                        <li>
                            <a href="javascript:;">Gallery</a>
                            <ul>
                                <li>
                                    <a href="javascript:;">Al Khobar</a>
                                    <ul>
                                        <li><a href="~/azizyagallery">Azizya</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Riyadh</a>
                                    <ul>
                                        <li><a href="~/alsahafagallery">Al Sahafa</a></li>
                                        <li><a href="~/olayagallery">Olaya</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li><a href="~/news">News</a></li>
                        <li>
                            <a href="javascript:;">Branches</a>
                            <ul>
                                <li>
                                    <a href="javascript:;">Al Khobar</a>
                                    <ul>
                                        <li><a href="~/alazizyabranch">AL Azizya</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Riyadh</a>
                                    <ul>
                                        <li><a href="~/olayabranch">Olaya</a></li>
                                        <li><a href="~/brairaqortobah">Qortobah</a></li>
                                        <li><a href="~/alwazaratbranch">Al Wazarat</a></li>
                                        <li><a href="~/brairahitin">Hitin</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Al Dammam</a>
                                    <ul>
                                        <li><a href="~/aldammambranch">AL Dammam</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="~/careers">Careers</a></li>
                        <li><a href="~/about">About Us</a></li>
                        <li><a href="~/contact">Contact Us</a></li>
                        <li><a href="~/ar">العربية</a></li>
                    </ul>*@
</nav>

                <!-- Menu Handel -->
                <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
    </header>
    <!-- End of Main Header -->

    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-sm-6 col-md-3">
                <h4>About Boudl Group</h4>
                <div class="widget-content">
                    Boudl company was established in 1959 under the name of slaeh Naser to khlaiwi and sons Co. In few years, the company opened a number of hotels throughout the KSA Kuwait. through its journey of success, the company created the" boudl "brand which became the first brand in the hospitality field in KSA.
                </div>
            </div>
            <div class="widget col-sm-6 col-md-3 col-sm-3">
                <h4>Newsletter</h4>
                <div class="widget-content">
                    <div class="desc">
                        Get the latest exclusive offers direct in your inbox
                    </div>
                    <form class="news-letter-form">
                        <input type="text" class="email" placeholder="Email">
                        <input type="submit" class="btn btn-default" value="Sign up Now">
                    </form>
                </div>
            </div>
            <div class="widget col-sm-6 col-md-3 get-in-touch">
                <h4>Get in Touch</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker "></i>Al-Roshd street, Qurtobah, Riyadh 13245, Suadi Arabia</li>
                        <li><i class="fa fa-phone"></i>9200 00555</li>
                        <li><i class="fa fa-envelope-o"></i>info@brairahotels.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/brairahotels/" target="_blank"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="https://twitter.com/brairahotels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/braira_hotels/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="~/assets/img/app-img.png" class="img-responsive mobile-img" />
                <p class="text-center">
                    <strong>Download Boudl Application</strong>
                </p>
                <hr />
                <ul class="list-unstyled footer-link-img">
                    <li>
                        <a href="javascript:;"><img src="~/assets/img/appstore.png" class="footer-img" /></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="~/assets/img/google-play.png" class="footer-img" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">
        <div class="copy-right">
            &copy; 2018 Boudl All Rights Reserved. Website by <a href="http://www.creative-sols.com" target="_blank">Creative Solutions</a>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Include the js files  -->
    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/js/helper.js"></script>
    <script type="text/javascript" src="~/assets/js/template.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
