﻿
@{
    ViewBag.Title = "Braira Al Dammam ( 5 star ) is now open";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="javascript:;">
                    <img src="~/assets/img/news/AlDammam1.jpg" class="post-img" alt="Braira Al Dammam" />
                </a>
                <a href="javascript:;" class="post-title">Braira Al Dammam ( 5 star ) is now open</a>
                <div class="post-desc">
                    <p>
                        Braira Al Dammam is now open to the public, it is the only hotel in braira hotels and resorts which is categorized as 5- Star Hotel. The hotel is located in a strategic location in Al Dammam city, it has the ideal frontage on the shore in Al Dammam, Also it is surrounded by the most important commercial centers and government facilities. Braira Al dammam Hotel provides their guests the most luxurious and comfortable stay, the hotel is known with its relaxing atmosphere and glamour decorations. it has many suites categories with legal setup provided specially for our special guests to make our guests pleased and relaxed.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">06 - May - 2018</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

