
.icon-010-departures:before { content: '\e800'; } /* '' */
.icon-013-delivery-packages-on-a-trolley:before { content: '\e801'; } /* '' */
.icon-012-car:before { content: '\e802'; } /* '' */
.icon-018-champagne:before { content: '\e803'; } /* '' */
.icon-017-tea-cup:before { content: '\e804'; } /* '' */
.icon-016-coffee-cup-1:before { content: '\e805'; } /* '' */
.icon-015-coffee-cup:before { content: '\e806'; } /* '' */
.icon-019-champagne-and-two-glasses:before { content: '\e807'; } /* '' */
.icon-025-shower-1:before { content: '\e808'; } /* '' */
.icon-024-shower:before { content: '\e809'; } /* '' */
.icon-023-bathtub-with-opened-shower:before { content: '\e80a'; } /* '' */
.icon-029-shower-bathroom-tool:before { content: '\e80b'; } /* '' */
.icon-031-hair-dryer:before { content: '\e80c'; } /* '' */
.icon-036-woman:before { content: '\e80d'; } /* '' */
.icon-038-deck-chair:before { content: '\e80e'; } /* '' */
.icon-037-massage:before { content: '\e80f'; } /* '' */
.icon-041-weightlifting:before { content: '\e810'; } /* '' */
.icon-044-praying-mat:before { content: '\e811'; } /* '' */
.icon-agenda:before { content: '\e812'; } /* '' */
.icon-bed-1:before { content: '\e813'; } /* '' */
.icon-bathtub:before { content: '\e814'; } /* '' */
.icon-burj-al-arab:before { content: '\e815'; } /* '' */
.icon-calendar:before { content: '\e816'; } /* '' */
.icon-building:before { content: '\e817'; } /* '' */
.icon-bell:before { content: '\e818'; } /* '' */
.icon-048-family-group:before { content: '\e819'; } /* '' */
.icon-039-towel:before { content: '\e81a'; } /* '' */
.icon-building-2:before { content: '\e81b'; } /* '' */
.icon-042-exercise:before { content: '\e81c'; } /* '' */
.icon-011-aeroplane:before { content: '\e81d'; } /* '' */
.icon-047-mosque-1:before { content: '\e81e'; } /* '' */
.icon-027-shower-3:before { content: '\e81f'; } /* '' */
.icon-escalator:before { content: '\e820'; } /* '' */
.icon-020-champagne-glass-with-drink:before { content: '\e821'; } /* '' */
.icon-046-mosque:before { content: '\e822'; } /* '' */
.icon-hotel-1:before { content: '\e823'; } /* '' */
.icon-043-barbell:before { content: '\e824'; } /* '' */
.icon-040-bathrobe:before { content: '\e825'; } /* '' */
.icon-032-hair-dryer-1:before { content: '\e826'; } /* '' */
.icon-045-muslim-mosque:before { content: '\e827'; } /* '' */
.icon-hotel:before { content: '\e828'; } /* '' */
.icon-bathrobe:before { content: '\e829'; } /* '' */
.icon-035-massage-spa-body-treatment:before { content: '\e82a'; } /* '' */
.icon-doorknob-1:before { content: '\e82b'; } /* '' */
.icon-beds:before { content: '\e82c'; } /* '' */
.icon-cutlery:before { content: '\e82d'; } /* '' */
.icon-elevator-1:before { content: '\e82e'; } /* '' */
.icon-coffee:before { content: '\e82f'; } /* '' */
.icon-doorknob:before { content: '\e830'; } /* '' */
.icon-doorknob-2:before { content: '\e831'; } /* '' */
.icon-hairdryer-1:before { content: '\e832'; } /* '' */
.icon-hotel-2:before { content: '\e833'; } /* '' */
.icon-hotel-3:before { content: '\e834'; } /* '' */
.icon-location:before { content: '\e835'; } /* '' */
.icon-information:before { content: '\e836'; } /* '' */
.icon-luggage-2:before { content: '\e837'; } /* '' */
.icon-fast-food:before { content: '\e838'; } /* '' */
.icon-hotel-sign-1:before { content: '\e839'; } /* '' */
.icon-hairdryer:before { content: '\e83a'; } /* '' */
.icon-luggage-5:before { content: '\e83b'; } /* '' */
.icon-menu-1:before { content: '\e83c'; } /* '' */
.icon-exchange:before { content: '\e83d'; } /* '' */
.icon-hotel-sign:before { content: '\e83e'; } /* '' */
.icon-021-newspaper:before { content: '\e83f'; } /* '' */
.icon-menu:before { content: '\e840'; } /* '' */
.icon-028-bathtub:before { content: '\e841'; } /* '' */
.icon-luggage-4:before { content: '\e842'; } /* '' */
.icon-bunk:before { content: '\e843'; } /* '' */
.icon-luggage-1:before { content: '\e844'; } /* '' */
.icon-hotel-sign-4:before { content: '\e845'; } /* '' */
.icon-hotel-4:before { content: '\e846'; } /* '' */
.icon-menu-4:before { content: '\e847'; } /* '' */
.icon-monitor:before { content: '\e848'; } /* '' */
.icon-luggage:before { content: '\e849'; } /* '' */
.icon-menu-5:before { content: '\e84a'; } /* '' */
.icon-030-shower-4:before { content: '\e84b'; } /* '' */
.icon-parking-1:before { content: '\e84c'; } /* '' */
.icon-hanger:before { content: '\e84d'; } /* '' */
.icon-car:before { content: '\e84e'; } /* '' */
.icon-hotel-sign-2:before { content: '\e84f'; } /* '' */
.icon-033-hair-dryer-2:before { content: '\e850'; } /* '' */
.icon-reception:before { content: '\e851'; } /* '' */
.icon-air-conditioner:before { content: '\e852'; } /* '' */
.icon-menu-3:before { content: '\e853'; } /* '' */
.icon-034-healthy-lifestyle-logo:before { content: '\e854'; } /* '' */
.icon-menu-2:before { content: '\e855'; } /* '' */
.icon-026-shower-2:before { content: '\e856'; } /* '' */
.icon-passport:before { content: '\e857'; } /* '' */
.icon-no-pictures:before { content: '\e858'; } /* '' */
.icon-bed:before { content: '\e859'; } /* '' */
.icon-parking:before { content: '\e85a'; } /* '' */
.icon-escalator-1:before { content: '\e85b'; } /* '' */
.icon-hotel-sign-3:before { content: '\e85c'; } /* '' */
.icon-fire-extinguisher:before { content: '\e85d'; } /* '' */
.icon-restaurant:before { content: '\e85e'; } /* '' */
.icon-cctv:before { content: '\e85f'; } /* '' */
.icon-cocktail:before { content: '\e860'; } /* '' */
.icon-hotel-5:before { content: '\e861'; } /* '' */
.icon-no-smoking:before { content: '\e862'; } /* '' */
.icon-bed-2:before { content: '\e863'; } /* '' */
.icon-elevator:before { content: '\e864'; } /* '' */
.icon-laptop:before { content: '\e865'; } /* '' */
.icon-022-news-logo:before { content: '\e866'; } /* '' */
.icon-building-1:before { content: '\e867'; } /* '' */
.icon-luggage-3:before { content: '\e868'; } /* '' */
.icon-meal:before { content: '\e869'; } /* '' */
.icon-014-sedan-car-model:before { content: '\e86a'; } /* '' */
.icon-bed-3:before { content: '\e86b'; } /* '' */
.icon-doorknob-3:before { content: '\e86c'; } /* '' */
.icon-room-key-2:before { content: '\e86d'; } /* '' */
.icon-room-service-2:before { content: '\e86e'; } /* '' */
.icon-telephone:before { content: '\e86f'; } /* '' */
.icon-slippers:before { content: '\e870'; } /* '' */
.icon-suitcase-1:before { content: '\e871'; } /* '' */
.icon-room-service:before { content: '\e872'; } /* '' */
.icon-shower:before { content: '\e873'; } /* '' */
.icon-room-key-1:before { content: '\e874'; } /* '' */
.icon-television:before { content: '\e875'; } /* '' */
.icon-room-key:before { content: '\e876'; } /* '' */
.icon-safebox:before { content: '\e877'; } /* '' */
.icon-room-service-3:before { content: '\e878'; } /* '' */
.icon-smoking:before { content: '\e879'; } /* '' */
.icon-006-hotel-service:before { content: '\e87a'; } /* '' */
.icon-telephone-1:before { content: '\e87b'; } /* '' */
.icon-001-water:before { content: '\e87c'; } /* '' */
.icon-room-service-1:before { content: '\e87d'; } /* '' */
.icon-vacuum-cleaner:before { content: '\e87e'; } /* '' */
.icon-suitcase:before { content: '\e87f'; } /* '' */
.icon-005-air-conditioner-2:before { content: '\e880'; } /* '' */
.icon-towel:before { content: '\e881'; } /* '' */
.icon-002-swimming-pool:before { content: '\e882'; } /* '' */
.icon-wifi:before { content: '\e883'; } /* '' */
.icon-003-air-conditioner:before { content: '\e884'; } /* '' */
.icon-stool:before { content: '\e885'; } /* '' */
.icon-004-air-conditioner-1:before { content: '\e886'; } /* '' */
.icon-008-room-service:before { content: '\e887'; } /* '' */
.icon-007-bellhop:before { content: '\e888'; } /* '' */
.icon-009-bellhop-1:before { content: '\e889'; } /* '' */