﻿
@{
    ViewBag.Title = "Braira Al Azizya Gallery";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/areas/ar/assets/plugins/galleryslider/unitegallery/css/unite-gallery.css" rel="stylesheet" />
    <link href="~/areas/ar/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet" />
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/gallery-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li class="active">معرض الميديا</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">
    <!-- Gallery Container -->
    <div id="gallery" style="display:none;">

        @foreach (var item in ViewBag.Galleries)
        {
            if (item.MediaTypeId == 3)
            {
                <img alt="@item.BranchNameAr"
                     data-type="youtube"
                     data-videoid="@item.ImagePath"
                     data-description="@item.BranchNameAr">
            }
            else if (item.MediaTypeId == 2)
            {
                <img alt="@item.BranchNameEn"
                     src="@item.ThumbnailImage"
                     data-type="html5video"
                     data-image="@item.ThumbnailImage"
                     @*data-videoogv="http://video-js.zencoder.com/oceans-clip.ogv"
                     data-videowebm="http://video-js.zencoder.com/oceans-clip.webm"*@
                     data-videomp4="@(ViewBag.ImageUrl+item.ImagePath)"
                     data-description="@item.BranchNameAr">
            }
            else if (item.MediaTypeId == 1)
            {
                <img alt="@item.BranchNameAr" src=""
                     data-image=@(ViewBag.ImageUrl+item.ImagePath) data-description="@item.BranchNameAr">
            }

        } 
        @*<img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail1.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery1.jpg" data-description="">*@
    </div>
</div>
<!-- End of Gallery Container -->
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-common-libraries.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-functions.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgeneral.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-thumbsstrip.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-touchthumbs.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-panelsbase.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-strippanel.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-gridpanel.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgrid.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-tiles.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-tiledesign.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-avia.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-slider.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-sliderassets.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-touchslider.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-zoomslider.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-video.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-gallery.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-lightbox.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-carousel.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/js/ug-api.js'></script>
    <script type='text/javascript' src='~/areas/ar/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.js'></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {

            jQuery("#gallery").unitegallery();

        });

    </script>
}
