﻿
@{
    ViewBag.Title = "Braira Al Azizya Branch Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/plugins/galleryslider/unitegallery/css/unite-gallery.css" rel="stylesheet" />
    <link href="~/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet" />
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">Gallery</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<br /><br />
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">
    <!-- Gallery Container -->
    <div id="gallery" style="display:none;">
        @if (ViewBag.Galleries != null)
        {
            foreach (var item in ViewBag.Galleries)
            {
                if (item.MediaTypeId == 3)
                {
                    <img alt="@item.BranchNameEn"
                         data-type="youtube"
                         data-videoid="@item.ImagePath"
                         data-description="@item.BranchNameEn">
                }
                else if (item.MediaTypeId == 2)
                {
                    var websiteurl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]);
                        var imgurl = websiteurl + "assets/img/braira-new-logo.png";
                    
                    <img alt="@item.BranchNameEn"
                         @*src="@item.ThumbnailImage"*@
                         src="@imgurl"
                         data-type="html5video"
                         @*data-image="@item.ThumbnailImage"*@
                         data-image="@imgurl"

                         @*data-videoogv="http://video-js.zencoder.com/oceans-clip.ogv"
                     data-videowebm="http://video-js.zencoder.com/oceans-clip.webm"*@
                         data-videomp4="@(ViewBag.ImageUrl+item.ImagePath)"
                         data-description="@item.BranchNameEn">
                }
                else if (item.MediaTypeId == 1)
                {
                    <img alt="@item.BranchNameEn" src=""
                         data-image=@(ViewBag.ImageUrl+item.ImagePath) data-description="@item.BranchNameEn">
                }

            }
        }

    @*<img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail1.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery1.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail2.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery2.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail3.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery3.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail4.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery4.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail5.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery5.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail6.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery6.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail7.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery7.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail8.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery8.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail9.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery9.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail10.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery10.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail11.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery11.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail12.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery12.jpg" data-description="">


        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail13.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery13.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail14.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery14.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail15.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery15.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail16.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery16.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail17.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery17.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail18.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery18.jpg" data-description="">


        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail20.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery20.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail21.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery21.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail22.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery22.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail23.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery23.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail24.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery24.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail25.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery25.jpg" data-description="">

        <img alt="Preview Image 1" src="http://csadms.com/braira-website/assets/img/gallery/alazizya/thumbnail/thumbnail26.jpg"
             data-image="http://csadms.com/braira-website/assets/img/gallery/alazizya/big/gallery26.jpg" data-description="">*@


    </div>
</div>
<!-- End of Gallery Container -->
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-common-libraries.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-functions.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgeneral.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsstrip.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-touchthumbs.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-panelsbase.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-strippanel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-gridpanel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-thumbsgrid.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-tiles.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-tiledesign.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-avia.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-slider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-sliderassets.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-touchslider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-zoomslider.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-video.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-gallery.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-lightbox.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-carousel.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/js/ug-api.js'></script>
    <script type='text/javascript' src='~/assets/plugins/galleryslider/unitegallery/themes/default/ug-theme-default.js'></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            jQuery("#gallery").unitegallery(
                {
                    theme_autoplay: true
                });
        });

    </script>
}
