﻿@model BrairaHotel.ManageBranchesDTO
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var brn = @Html.Raw(ViewBag.BrnList);

}
@section styles{
<style type="text/css">
    .video-container {
                    position: relative;
                    height: 100vh;
                    width: 100%;
                }

                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
                iframe.full-video {
                    position: absolute !important;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top:0;
                    bottom: 0;                   
                }
                .video-js {
                    width: 100% !important
                }

                    .video-js .vjs-tech {
                        height: auto !important
                    }

                @@media (min-width: 468px) and (max-width: 767px) {
                    .video-container {
                        height: 55vh;
                    }
                }

                @@media (max-width: 467px) {
                    .video-container {
                        height: 33vh;
                    }
                }
</style>
<link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
}
<!-- Top Slider and Booking form -->
<div id="home-top-section">
    @if (ViewBag.MediaType != null)
    {
        if (ViewBag.MediaType == "2")
        {
            if (ViewBag.BrnList != null)
            {
                foreach (var item in ViewBag.BannersList)
                {
                    <div id="main-slider">
                        <div class="video-container">
                            <video id="my-video" class="video-js vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active" controls preload="auto" poster="http://csadms.com/boudl-apart/assets/img/corporate/poster.jpg" data-setup="{}" autoplay muted loop>
                                <source src=@ViewBag.ImageUrl + @item.SourcePath type="video/mp4">
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                        </div>
                    </div>
                }
            }
        }
        else if (ViewBag.MediaType == "1")
        {
            if (ViewBag.BrnList != null)
            {
                <div id="room-details-slider">
                    @foreach (var item in ViewBag.BannersList)
                    {
                        <div class="items">
                            <img src="@ViewBag.ImageUrl@item.SourcePath" />
                        </div>
                    }
                </div>
            }
        }
        else if (ViewBag.MediaType == "3")
        {
            foreach (var item in ViewBag.BannersList)
            {
                <div id="main-slider">
                    <div class="video-container">
                        <iframe class="full-video" src="@("https://www.youtube.com/embed/"+@item.SourcePath+"?rel=0&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist="+@item.SourcePath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        @*<iframe class="full-video" src="https://www.youtube.com/embed/Jh0M2v83CN4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                    </div>
                </div>
            }
        }
    }
    @*<div id="main-slider">
        <div class="items">
            <img src="~/assets/img/slider/slider5.jpg" alt="1" />
        </div>
        <div class="items">
            <img src="~/assets/img/slider/slider6.jpg" alt="2" />
        </div>
        <div class="items">
            <img src="~/assets/img/slider/slider7.jpg" alt="3" />
        </div>
        <div class="items">
            <img src="~/assets/img/slider/slider8.jpg" alt="4" />
        </div>
        <div class="items">
            <img src="~/assets/img/slider/slider9.jpg" alt="5" />
        </div>
        <div class="items">
            <img src="~/assets/img/slider/slider10.jpg" alt="6" />
        </div>
        <div class="items">
            <img src="~/assets/img/slider/slider11.jpg" alt="7" />
        </div>
        <div class="items">
            <img src="~/assets/img/slider/slider12.jpg" alt="8" />
        </div>
    </div>*@
    @*<div id="main-slider">
        <div class="video-container">
            <video id="my-video" class="video-js" controls preload="auto" poster="http://brairahotels.com/assets/videos/poster.jpg" data-setup="{}" autoplay muted loop>
                <source src="~/assets/videos/video.mp4" type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>*@
    <!-- Booking Form -->
    <div class="booking-form-container container">
        <div id="main-booking-form" class="style-2">
            <h2>Find A <span>Room</span></h2>
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes
                <div class="input-daterange clearfix">
                    <div class="booking-fields col-xs-6 col-md-12">
                        <input placeholder="Check in" class="datepicker-fields check-in" type="text" name="start" required />
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="booking-fields col-xs-6 col-md-12">
                        <input placeholder="Check out" class="datepicker-fields check-out" type="text" name="end" required />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div> -->
                <div class="booking-fields col-xs-12">
                    <select class="chosen-select" name="city" id="ddlCity" required>
                        <option value="">Select City</option>
                        <optgroup label="Saudi Arabia">
                            <option>Riyadh</option>                            
                            <option>Al Khobar</option>   
                            <option>Al Dammam</option>
                        </optgroup>
                    </select>
                </div>
                <div class="booking-fields col-xs-12">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="hotels" id="ddlHotels" data-placeholder="Select Destination" required>
                        <option value=""></option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <!--
                <div class="booking-fields col-xs-6 col-md-12 clearfix">                    
                    <select name="room-type" required>
                        <option value="">Adults</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>                    
                </div>
                <div class="booking-fields col-xs-6 col-md-12">
                    <select name="guest">
                        <option value="">Children</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div> -->
                <div id="lbValidate"></div>                
                <div class="booking-button-container">
                    <a id="lnkBooking" target="_blank" onclick="validateDestination()" class="btn btn-default">Book Now</a>                    
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of Top Slider and Booking form -->
<!-- Rooms Container -->
<section id="highlights">
    <div class="room-container container room-grid">
        <div class="heading-box">
            <h2>This Week's <span>Top Offers</span></h2>
            <div class="subtitle">Hotels &amp; Resorts</div>
        </div>

        @if (ViewBag.WeeklyOffersList != null)
        {
            foreach (var item in ViewBag.WeeklyOffersList)
            {
                <div class="room-box col-xs-6">
                    <div class="img-container">
                        @*<img src="~/assets/img/offers/offer-1.jpg" alt="offer 1" />*@
                        <img src=@item.OfferOneImageEn />
                    </div>
                    <div class="details">
                        <div class="price">
                            <a href="javascript:;">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="room-box col-xs-6">
                    <div class="img-container">
                        @*<img src="~/assets/img/offers/offer-1.jpg" alt="offer 1" />*@
                        <img src=@item.OfferTwoImageEn />
                    </div>
                    <div class="details">
                        <div class="price">
                            <a href="javascript:;">More Details</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</section>
<!-- End of Rooms Container -->
<!-- Luxury Rooms -->
<div id="luxury-rooms">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>About <span>Braira</span></h2><!-- Title -->
        <div class="subtitle">Hotels &amp; Resorts</div><!-- Subtitle -->
    </div>

    <!-- Room Box Container -->
    <div class="room-container container">
        <!-- Room box -->
        @if (ViewBag.HomeAboutList != null)
        {
            foreach (var item in ViewBag.HomeAboutList)
            {
                <div class="room-boxes">
                    <img src=@item.ImageEn class="room-img" alt="About Boudl Hotels" />
                    <div class="room-details col-xs-6 col-md-4">
                        <div class="description">
                            <!-- Room Description -->

                            @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionEn))
                        </div>
                        <a href="~/about" class="btn btn-default">Details</a><!-- Detail link -->
                    </div>
                </div>
            }
        }
    @*<div class="room-boxes">
            <img src="~/assets/img/rooms/braira-home-about.jpg" class="room-img" alt="About Braira Hotels" />
            <div class="room-details col-xs-6 col-md-4">
                <div class="description">
                    <!-- Room Description -->
                    Braira which is a four star hotel is considered to be one of the most important and most famous brands in the field of tourism and hotels for many considerations
                </div>
                <a href="~/about" class="btn btn-default">Details</a><!-- Detail link -->
            </div>

        </div>*@

    </div>
</div>
<!-- End of Luxury Rooms -->
<!-- Our Services -->

<div id="our-services">
    <div class="heading-box">
        <h2><span>Highlights</span></h2>
    </div>
    <div id="services-box" class="owl-carousel owl-theme">
        @if (ViewBag.Highlights != null)
        {
            foreach (HighlightsDTO item in ViewBag.Highlights)
            {
                <div class="item">
                    <img src="@item.ImageEn" alt="@item.CaptionEn" />
                    <div class="title">@item.CaptionEn</div>
                </div>
            }
        }
        else
        {
            <p>No content available</p>
        }

    </div>
</div>


<!-- End of Our Services -->
<!-- Special Packages -->
<div class="brands-bg">
    <div id="special-packages" class="container ">
        <!-- Heading box -->
        <div class="heading-box">
            <h2>Our <span>Brands</span></h2><!-- Title -->
        </div>

        <!-- Package Container -->
        <div class="package-container clearfix">
            <!-- Package Box -->
            <div class="wow fadeInUp col-mm-12">
                <ul class="horizontal-images">
                    <li>
                        <a href="http://www.boudlgroup.com/ar/" target="_blank"><img src="~/assets/img/brands/boudl-group-1.png" alt="Boudl Group" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.boudl.com/ar/" target="_blank"><img src="~/assets/img/brands/boudl-hotel-logo.png" alt="Boudl Hotels" class="img-horizontal boudl-hotel-logo"></a>
                    </li>
                    <li>
                        <a href="http://www.brairahotels.com/ar/" target="_blank"><img src="~/assets/img/brands/braira.png" alt="Braira Hotels" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.narcissusriyadh.com/ar/default.html" target="_blank"><img src="~/assets/img/brands/narcissus.png" alt="Narcissus Hotels" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.aberhotels.com/ar/" target="_blank"><img src="~/assets/img/brands/aber-logo.png" alt="aber Hotels" class="img-horizontal aber-hotel-logo"></a>
                    </li>
                    <li>
                        <a href="javascript:;" target="_blank"><img src="~/assets/img/brands/bur-new-logo.png" alt="Bur Bakery" class="img-horizontal"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- End of Special Packages -->

@section scripts{
    <script type="text/javascript">
        function validateDestination() {
            var theValue = $("#ddlCity").val();
            if (theValue == "") {
                $("#lbValidate").html("Please select destination");
                $("#lbValidate").attr('style', 'color: Red !important');
            }
            else {
                $("#lbValidate").html("");
            }
        }
        $("body").addClass("homepage trans-header sticky white-datepicker");
        $(document).ready(function () {
            //$("#ddlHotels").chosen("destroy");
            $("#ddlCity").change(function () {
                var strCity = $(this).val();
                $("#ddlHotels").empty();
                $("#ddlHotels").append($('<option>', {
                    value: 0
                }));
                switch (strCity) {
                    case "Riyadh":
                        $('#ddlHotels').append($('<option>', {
                            value: 2,
                            text: 'Olaya'
                        })).append($('<option>', {
                            value: 4,
                            text: 'Al Wizarat'
                        })).append($('<option>', {
                            value: 5,
                            text: 'Qortobah'
                        })).append($('<option>', {
                            value: 7,
                            text: 'Hitin'
                        }));

                        break;
                    case "Al Khobar":
                        $('#ddlHotels').append($('<option>', {
                            value: 3,
                            text: 'AL Azizya'
                        }));
                        break;
                    case "Al Dammam":
                        $('#ddlHotels').append($('<option>', {
                            value: 6,
                            text: 'Al Dammam'
                        }));
                        break;
                    default:
                        break;
                }
                $('#ddlHotels').trigger("chosen:updated");
            });

            $("#ddlHotels").change(function () {
                var iHotelType = $(this).val();
                switch (iHotelType) {                   
                    case "2":
                        $("#lnkBooking").attr("href", "http://olaya.boudl.com/V8Client/Inquiry.aspx");
                        break;
                    case "3":
                        $("#lnkBooking").attr("href", "http://azizia.boudl.com/V8Client/Inquiry.aspx");
                        break;
                    case "4":
                        $("#lnkBooking").attr("href", "http://wizarat.boudl.com/V8Client/Inquiry.aspx");
                        break;
                    case "5":
                        $("#lnkBooking").attr("href", "http://qurtuba.boudl.com/V8Client/Inquiry.aspx");
                        break;
                    case "6":
                        $("#lnkBooking").attr("href", "http://dammam.boudl.com/V8Client/Inquiry.aspx");
                        break;
                    case "7":
                        $("#lnkBooking").attr("href", "http://hattien.boudl.com/V8Client/Inquiry.aspx");
                        break;
                    default:
                        $("#lnkBooking").attr("href", "");
                        break;
                }
            });
        });
    </script>
<script src="http://vjs.zencdn.net/6.4.0/video.js"></script>
}
