﻿
@{
    ViewBag.Title = "Braira Qortobah Branch | Braira Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">

    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/qortobah/1.jpg" alt="qortobah 1" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>Braira</span> Qortobah</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span>- فنادق فئة أربعة نجوم</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">بالغين</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="احجز الأن" type="submit" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                يُعد فندق بريرا قرطبة واحد من أهم فنادق مجموعة بريرا, والذي يصنف بأربعة نجوم لتقديمه خدمة فندقية على أعلى مستوي و أيضاً لموقعه الممتاز و قربه مطار الملك خالد الدولي بالرياض و الذي يبعد قرابة العشر دقائق فقط. يرتاد على الفندق في المقام الأول رجال الأعمال و الراغبيين بخدمة فندقية ممتازة و بسعر أقتصادي. ويعد أيضاً مكان هاديء للعائلة للأسترخاء و الأستمتاع بخدمات الفندق من  وقضاء أمتع الأوقات 
            </p>
            <p>
                على حمام السباحة الخارجي مع خدمات النادي الصحي و صالة الألعاب الرياضية بالأضافة للأستمتاع بأشهى المأكولات العالمية والمُعدة بأيادي أمهر الطهاة.

                صممت غرف فندق بريرا قرطبة بديكورات عصرية تمتاز بالفخامة و الرُقي, و تضفي الشعور بالأرتياح و الأسترخاء. و تتنوع في المساحات و المرافق حيث تناسب كافة إحتياجات الضيوف.

            </p>
            <br />
            <h1>
                * مساء 2 * اوقات الدخول * مساء 12 * اوقات الخروج
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/qortobah/services.png" alt="Braira Qortobah Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Most Popular Facilities</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 106  Standard Rooms </li>
                        <li><i class="fa fa-building-o"></i> Beach-front</li>
                        <li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-plane"></i> Airport Transportation</li>
                        <li><i class="fa fa-heartbeat"></i> GYM</li>
                        <li><i class="fa fa-hotel"></i> Room Service</li>
                        <li><i class="fa fa-coffee"></i> Coffee Maker</li>
                        <li><i class="fa fa-coffee"></i> Cafe’</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->

<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(24.817826, 46.74088);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}