﻿@model Boudl.Client.Mvc.FindAHotelDTO
@{
  Layout = null;
}
<script type="text/javascript" src="~/assets/js/jquery.js"></script>

<script>
   $(document).ready(function () {
        $("#hoteldetails").hide();
   });
   function hidediv()
   {
       $("#hoteldetails").hide();
   }
</script>

<div class="" id="hoteldetails" hidden>
    <div class="card">
        <div class="text-right"><i class="fa fa-times " style="cursor: pointer" onclick="return hidediv()"></i></div>
        <img id="imgmap" class="img-responsive" alt="Hotel Branch ">
        <div class="card-body">
            <h2 class="card-title"><label class="text" id="mapdivtitle"></label></h2>
            <a id="booklink" href="javascript:;" class="btn-book-now">Book Now</a>
        </div>
    </div>
    <div class="card-footer">
        <a id="weblink" href="javascript:;" class="book-now-btn" >View Hotel <i class="fa fa-external-link"></i></a>
    </div>
</div>
@*<div class="" id="hoteldetails">
        <div class="card" style="width: 18rem;">
            <img id="imgmap" style="height:145px" class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><label class="text" id="mapdivtitle"></label></h5>
                <a id="booklink" href="#" class="btn btn-primary" target="_blank">Book Now</a><br />
                <a id="weblink" href="#" class="book-now-btn" target="_blank">View Hotel</a>

            </div>
        </div>
    </div>*@
<div class="loc-map mHeight" id="map">
</div>
<input type="hidden" value="" id="ZoomValue" />
<input type="hidden" value="@Model.Lat.Replace("(","")" id="txtlatitude" />
<input type="hidden" value="@Model.Lng.Replace(")","")" id="txtlongitude" />


    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1")
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr49OIN7MEM9KhBHOY1WAP_CKFd3uy7Ho&callback=initMap">
</script>
<script type="text/javascript">
    var map;
    var markers = [];
    var markers1 = [];
    var gmarkers1 = [];
    var umarkers2 = [];
    var ugmarkers2 = [];
    var lastinfowindow;
    var locIndex = [];
    var data;
    var res;
    var HotelId = "";
    var AmenityId = "";
    var infowindow;
    //var url = "http://csadms.com/boudlgrouptest/Uploads/"
    var url = '@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["imageurl"]))';
    var websiteurl = '@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]))';

    //$("#hoteldetails").hide();
    //$('#exploredata').hide();
    //$('#exploremap').show();
    //$('#Map1').click(function () {
    //    $('#exploredata').hide();
    //    $('#exploremap').show();
    //})
    //$('#Data1').click(function () {
    //    $('#exploredata').show();
    //    $('#exploremap').hide();
    //})


    //Credit: MDN

    //Credit: MDN
    if (!Array.prototype.forEach) {
        Array.prototype.forEach = function (fn, scope) {
            for (var i = 0, len = this.length; i < len; ++i) {
                fn.call(scope, this[i], i, this);
            }
        }
    }
    var array = [];

    function getIcon(type) {
        switch (type) {
            case 6: return "";
            case 7: return websiteurl+"assets/img/Boudl.png";
            case 8: return websiteurl+"assets/img/Braira.png";
            case 9: return websiteurl+"assets/img/Aber.png";
            case 10: return websiteurl+"images/MapIcons/Narcissus.png";
            default: return "";
        }
    }
    var markerCluster;
    var lt = $("#txtlatitude").val();
    var lg = $("#txtlongitude").val();
    var tlat = lt == "0" ? 22.722470 :  lt;
    //alert(tlat);
    var tlng = lg == "0" ? 47.3357758 : lg;
    //alert(tlng);
    var tzoom = JSON.stringify(@Model.Zoom) == "0" ? 3 : JSON.stringify(@Model.Zoom);
    //alert(tzoom);

    function initMap() {


        var mapOptions = {
            zoom: parseInt(tzoom),
            center: { lat: parseFloat(tlat), lng: parseFloat(tlng) },
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            fullscreenControl: false,
            mapTypeControl: false

        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        infowindow = new google.maps.InfoWindow({
            content: ''
        });
        var temp="";
        debugger;
        if(@Model.Id == 1)
        {
            temp = JSON.stringify(@Model.AmenityIds);
        }
        else
        {
            temp = "";
        }
        $.ajax({
            url: '@Url.Action("getAmenities","FindAHotel")',
            type: "POST",
            dataType: "text json",
            data: { AmenitiesIDs: temp },
            //contentType: "application/json; charset=utf-8",
            success: function (result, status, jqXHR) {
                data = result;//data = JSON.stringify(result) ;
                markers1 = data;
                for (i = 0; i < markers1.length; i++) {
                    addMarker(markers1[i]);
                }

                loadmpa(map, gmarkers1);
            },
            error: function (res) {
            }
        });
    }
    function loadmpa(_map, gmarkers1) {
        //markerCluster.clearMarkers();
        //markerCluster.addMarkers(newmarkers);
        markerCluster = new MarkerClusterer(_map, gmarkers1, {
            imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
        });
    }
    function addMarker(marker) {
        var category = marker.AmenityIds;
        var title = marker.BranchNameEn;
        var pos = new google.maps.LatLng(parseFloat(marker.Lat), parseFloat(marker.Lng));
        var icons = getIcon(marker.HotelId);
        var BranchImage = marker.BranchImage;
        var link = marker.BookingURL;
        var hotelnameEn = marker.HotelNameEn;

        var content = "";
        marker1 = new google.maps.Marker({
            title: title,
            position: pos,
            category: category,
            icon: icons,
            map: map,
            image: BranchImage,
            link: link,
            hotelNameEn :hotelnameEn
        });

        //var ourMarker = getMarker(title)
        //google.maps.event.trigger(ourMarker, 'click');

        gmarkers1.push(marker1);
        //Marker click listener
        google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
            return function () {
                // console.log('Gmarker 1 gets pushed');
                //infowindow.setContent('');

                //infowindow.setContent(content);
                //infowindow.open(map, marker1);
                //map.panTo(this.getPosition());
                //map.setZoom(5);
                showdata(marker1);
            }
        })(marker1, content));
        //google.maps.event.addListener('zoom_changed', function() {
        //    infowindow.setContent('Zoom: ' + map.getZoom());
        //    alert('Zoom: ' + map.getZoom());
        //});
        google.maps.event.addListener(map, 'zoom_changed', function (event) {
            // alert('Lat: ' + event.latLng.lat() + ' and Longitude is: ' + event.latLng.lng());
            var a = map.getZoom();
            var ab = map.getMapTypeId();
            var abc = map.getCenter();
            $("#ZoomValue").val(a);
            $("#latitude").val(abc);

            var aaaa=map.getProjection;
            console.log($("#ZoomValue").val());
            console.log($("#latitude").val());




            //document.getElementById('ZoomValue').value =a.toString();
        });
        google.maps.event.addListener(marker, 'dragstart', function (event) {
            //alert('Lat: ' + event.latLng.data.Latitude() + ' and Longitude is: ' + event.latLng.data.Longitude());
            $("#latitude").val(event.latLng.data.Latitude());
            $("#longitude").val(event.latLng.data.Longitude());
            console.log($("#latitude").val());
            console.log($("#longitude").val());




        });

    }
    function showdata(marker1) {
        $("#hoteldetails").show();
        $("#imgmap").attr("src", url + marker1.image);
        $("#mapdivtitle").text(marker1.hotelNameEn +" "+ marker1.title);
        $("#booklink").attr("href", marker1.link);
        $("#weblink").attr("href", websiteurl+"branches/"+ marker1.title.replace(" ","-"));


    }
    //
    filterMarkers = function (category) {
        var newmarkers = [];
        var checked = $("input[type=checkbox]:checked");
        var selTypes = [];
        for (var i = 0, len = checked.length; i < len; i++) {
            selTypes.push($(checked[i]).val());
        }
        //var cc = $('input[type=checkbox]').prop('checked');

        for (i = 0; i < markers1.length; i++) {
            marker = gmarkers1[i];
            var aaa = selTypes;
            var bb = aaa.map(Number);
            var selLen = bb.length;
            var typeList = marker.category;
            var markerTypeArr = marker.category.split(" ").join('');
            //debugger;
            //var b = markerTypeArr.split(',');
            var c = markerTypeArr.split(',').map(Number);
            var commonTypes = $.grep(bb, function (element) {
                return $.inArray(element, c) !== -1;
            });
            if (bb.length == 0) {
                if (c.indexOf(parseInt(bb)) < 0) {
                    marker.setVisible(true);
                    //newmarkers.push(marker);
                }
            }
            else {
                if (commonTypes.length == selLen) {
                    marker.setVisible(true);
                    //newmarkers.push(marker);
                }
                else
                    marker.setVisible(false);
            }
            newmarkers.push(marker);
        }
    }
</script>
