﻿
@{
    ViewBag.Title = "Read Latest News From Braira Four Star Hotels";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

@section styles{
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li class="active">الأخبار</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container news">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            @foreach (var item in ViewBag.NewsList)
            {
                <div class="post-box">
                    <a href="News/@item.NameEn.Replace(" ","")">
                        <img src=@item.ImagePath class="post-img" alt=@item.NameAr />
                    </a>
                    <a href="@item.NameEn" class="post-title">@item.NameAr</a>
                    <div class="post-meta clearfix">
                        <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
                    </div>
                </div>
            }
            @*<!-- Post boxes -->
            <div class="post-box">
                <a href="~/ar/LuxuryHotelAward">
                    <img src="~/assets/img/news/luxury-awards.jpg" class="post-img" alt="Braia News 1" />
                </a>
                <a href="~/ar/LuxuryHotelAward" class="post-title"> جائزة الفخامة الفندقية العالمية</a>
                <div class="post-meta clearfix">
                    <div class="post-date">28 - Oct - 2017</div>
                </div>
            </div>
            <!-- Post boxes -->
            <div class="post-box">
                <a href="~/ar/BrairaNewBranchOpening">
                    <img src="~/assets/img/news/braira-cordoba.jpg" class="post-img" alt="Braia News 2" />
                </a>
                <a href="~/ar/BrairaNewBranchOpening" class="post-title">إفتتاح فندق بريرا فرع قرطبة بالرياض </a>
                <div class="post-meta clearfix">
                    <div class="post-date">22 - Oct - 2017</div>
                </div>
            </div>
            <!-- Post boxes -->
            <div class="post-box">
                <a href="~/ar/AberHotelNewBranchOpening">
                    <img src="~/assets/img/news/aber-2.jpg" class="post-img" alt="aber " />
                </a>
                <a href="~/ar/AberHotelNewBranchOpening" class="post-title">قريباً إفتتاح فندق عابر فرع الصحافة</a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
            <!-- Post boxes -->
            <div class="post-box">
                <a href="~/ar/NarcissusTowerRiyadh">
                    <img src="~/assets/img/news/narcisuss-tower1.jpg" class="post-img" alt="narcissus " />
                </a>
                <a href="~/ar/NarcissusTowerRiyadh" class="post-title"> برج نارسيس الرياض       </a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
            <!-- Post boxes -->
            <div class="post-box">
                <a href="~/ar/BrairaAlNakhil">
                    <img src="~/assets/img/news/braira-al-nakhil.jpg" class="post-img" alt="Braira Al Nakhil " />
                </a>
                <a href="~/ar/BrairaAlNakhil" class="post-title">بريرا النخيل"  الرياض"</a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
            <!-- Post boxes -->
            <div class="post-box">
                <a href="~/ar/BrairaAlWizarat">
                    <img src="~/assets/img/news/braira-al-wizarat.jpg" class="post-img" alt="Al Wizarat " />
                </a>
                <a href="~/ar/BrairaAlWizarat" class="post-title"> إفتتاح فندق بريرا حى الوزارات</a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
            <!-- Post boxes -->
            <div class="post-box">
                <a href="~/ar/BrairaVillas">
                    <img src="~/assets/img/news/braira-hitin.jpg" class="post-img" alt="Braira  " />
                </a>
                <a href="~/ar/BrairaVillas" class="post-title">إفتتاح منتجع فيلات بريرا </a>
                <div class="post-meta clearfix">
                    <div class="post-date">02 - Sep - 2017</div>
                </div>
            </div>
            <!-- Post boxes Al Dammam-->
            <div class="post-box">
                <a href="~/ar/BrairaAlDammam">
                    <img src="~/assets/img/news/AlDammam1.jpg" class="post-img" alt="Braira Al Dammam" />
                </a>
                <a href="~/ar/BrairaAlDammam" class="post-title">إفتتاح فندق بريرا الدمام ( خمس نجوم ) </a>
                <div class="post-meta clearfix">
                    <div class="post-date">06 - May - 2018</div>
                </div>
            </div>
            <!-- Post boxes Narcissus Obhur Jeddah-->
            <div class="post-box">
                <a href="~/ar/NarcissusObhurJeddah">
                    <img src="~/assets/img/news/narcissus-jeddah.png" class="post-img" alt="Narcissus Obhur Jeddah" />
                </a>
                <a href="~/ar/NarcissusObhurJeddah" class="post-title"> إفتتاح نارسيس أُبـــحر جدة</a>
                <div class="post-meta clearfix">
                    <div class="post-date">10 - May - 2018</div>
                </div>
            </div>*@
        </div>
        <!-- End of Post Container -->
        <!-- Pagination -->
        <div class="pagination-box">
            <ul class="list-inline">
                <li class="active"><a href="#"><span>1</span></a></li>
                <li><a href="#"><span>2</span></a></li>
                <li><a href="#"><span>3</span></a></li>
                <li><a href="#"><span>4</span></a></li>
                <li><a href="#"><span>5</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>
        <!-- End of Pagination -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>

}