﻿
@{
    ViewBag.Title = "جائزة الفخامة الفندقية العالمية";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li><a href="~/ar/news">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            @foreach (var item in ViewBag.newsDetail)
            {
                <div class="post-box no-hover">
                    <img src=@item.ImagePath class="post-img" alt="Luxury Hotel Award" />
                    <h3 class="post-title">@item.NameAr</h3>
                    <div class="post-desc">
                        <p>
                            @Html.Raw(HttpUtility.HtmlDecode(@item.DescAr))
                        </p>
                    </div>
                    <div class="post-meta clearfix">
                        <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
                    </div>
                </div>
            }
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

