﻿
@{
    ViewBag.Title = "Aber Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="#">
                    <img src="~/assets/img/news/aber-2.jpg" class="post-img" alt="aber " />
                </a>
                <a href="#" class="post-title">Aber Hotel</a>
                <div class="post-desc">
                    <p>
                        The new branch of Aber hotels  in ( Sahafa) district is now open to the  public. The hotels of Aber Brand are distinguished and simple in terms of design, concept and economical prices while ensuring high quality and professionalism in providing services to our guests. These concepts  are became very important  for most of travelers and for who are searching for new lifestyles. This series of hotels offers distinctive services at economical prices. The designs combine modernity with Arabic originality.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">28 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

