﻿
@using PagedList
@using PagedList.Mvc
@model PagedList<BrairaHotel.ManageNewsDTO>
<style>
    .post-date {
        direction: ltr !important;
    }
</style>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="post-box">
            <a href="~/ar/News/@item.NameEn.ToLower().Replace(" ","-")">
                <img src=@item.ImagePath class="post-img" alt=@item.NameEn />
            </a>
            <a href="~/ar/News/@item.NameEn.ToLower().Replace(" ","-")" class="post-title">@item.NameAr</a>
            <div class="post-meta clearfix">
                <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
            </div>
        </div>
    }
}
<div class="col-md-12">
    <div class="pagination-box" id="test">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1"); $("p").removeClass("p2");
        $("p").removeClass("p3");
        $("p").removeClass("p4");
        $("p").removeClass("p5");
      
    </script>

}