﻿
@{
    ViewBag.Title = "جائزة الفخامة الفندقية العالمية";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
<style>
    .post-date {
        direction:ltr !important
    }
</style>
<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li><a href="~/ar/news">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            @if(ViewBag.newsDetail!=null)
            {
                foreach (var item in ViewBag.newsDetail)
                {
                    <div class="post-box no-hover">
                        <img src=@item.ImagePath class="post-img" alt="Luxury Hotel Award" />
                        <h3 class="post-title">@item.NameAr</h3>
                        <div class="post-desc">
                            <p>
                                @Html.Raw(HttpUtility.HtmlDecode(@item.DescAr))
                            </p>
                        </div>
                        <div class="post-meta clearfix">
                            <div class="post-date">@item.CreatedOn.ToString("dd-MMM-yyyy")</div>
                        </div>
                    </div>
                }
            }
            
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1"); $("p").removeClass("p2");
        $("p").removeClass("p3");
        $("p").removeClass("p4");
        $("p").removeClass("p5");
    </script>
}

