﻿
@{
    ViewBag.Title = "Latest Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .room-container .room-box .img-container{
            height: 250px;
        }
        .details{
            height: 250px;
        }

        .price1
        {
            left: auto !important;
            right: 0 !important;
            top: 0px !important;
            border:1px solid rgb(79, 55, 67) !important;
            padding:0 20px !important;
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);

    }
        
    </style>   
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page @ViewBag.PageHeaderClass " data-parallax="scroll" data-image-src="@ViewBag.PageHeaderBanner">

    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li class="active">Latest Offers</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<section id="highlights">
    <div class="room-container container room-grid">
        <!-- Heading box -->
        <div class="heading-box">
            <h2><span>Latest Offers</span></h2><!-- Title -->
            <div class="subtitle">Hotels &amp; Resorts</div>
        </div>    
        
        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {
                <div class="room-box clearfix">
                    <div class="img-container col-xs-6">
                        <img src="@item.ImageEn" alt="@item.NameEn">
                        @if (item.BookingRedirection)
                    {<a href="@item.bookingURL" class="btn btn-default">Book Now</a>}
                    </div>
                    <div class="details col-xs-6">
                        <div class="title"><a href="#">@item.NameEn</a></div>
                        <div class="desc text-left">
                            @if (item.Mode == 1)
                            {
                                @*<p>@item.DescriptionEn</p>*@<p>@Html.Raw(HttpUtility.HtmlDecode(@item.DescriptionEn))</p>
                            }
                            else
                            {
                                <ul class="facilities list-inline">
                                
                                    @for (int i = 0; i < item.arAmnEn.Length; i++)
                                    {
                                        if (!String.IsNullOrEmpty(item.arAmnEn[i]))
                                        {
                                            <li><i class="fa @item.amIcons[i]"></i>@item.arAmnEn[i]</li>
                                        }

                                    }

                                    @*@foreach (String element in item.AmenitiesEn.Split(','))
                                    {
                                        <li><i class="fa fa-check"></i>@element</li>
                                    }*@
                                </ul>
                            }
                        </div>
                        
                        @if (item.Mode == 1)
                        {
                            <div class="price price1">
                                <span>@item.Currency @item.OfferPrice</span>  @("-Per Night ")
                            </div>
                        }
                                
                    </div>
                </div>

                @*<div class="room-box col-sm-6">
                    <div class="img-container">
                        <img src="@item.ImageEn" alt="@item.NameEn" />
                    </div>
                    <div class="details">
                        <div class="price">
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>*@
            }
        }
        else
        {
            <p>No Content Available</p>
        }
        
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}