﻿
@{
    ViewBag.Title = "Latest Offers";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .room-container .room-box .img-container {
            height: 330px;
        }
    </style>
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/offers-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li class="active">اخر العروض</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Rooms Container -->
<section id="highlights">
    <div class="room-container container room-grid">
        <!-- Heading box -->
        <div class="heading-box">
            <h2><span>اخر العروض</span></h2><!-- Title -->
            <div class="subtitle">فنادق و منتجعات</div>
        </div>

        @if (ViewBag.splPkgs != null)
        {
            foreach (SpecialPackage item in ViewBag.splPkgs)
            {
                <div class="room-box col-sm-6">
                    <div class="img-container">
                        <img src="@item.ImageAr" alt="@item.NameAr" />
                    </div>
                    <div class="details">
                        <div class="price">
                            <a href="#">المزيد</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Content Available</p>
        }


    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}
