﻿
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style type="text/css">
        p, h2 {
            font-family: 'Ubuntu', sans-serif !important
        }
        
    </style>
}

<div class="room-detail-page offer-page-btn">
    @if (ViewBag.OffersDetail != null)
    {
        foreach (var item in ViewBag.OffersDetail)
        {
            <div class="inner-content">
                <div class="image-main-box">
                    <img src=@item.ImageEn alt="welcome to Braira Hotels" class="img-responsive width-100-abv-1200">
                </div>

            </div>
        }
    }
    <div class="booking-title-box">
        <div class="booking-title-box-inner container">

            @if (ViewBag.OffersDetail != null)
            {
                foreach (var item in ViewBag.OffersDetail)
                {
                    <div class="heading-box">
                        <h2><span>@item.NameEn</span></h2>
                        <div class="subtitle price">
                            @Convert.ToInt64(item.OfferPrice) @item.Currency
                            <span>
                                @if (item.Mode == 1)
                                {
                                    @(" - Per Person")
                                }
                                @if (item.Mode == 2)
                                {
                                    @(" - Per Night")
                                }
                            </span>

                        </div>
                        <!-- Title -->
                    </div>

                }
            }
            <div class="" id="divformbooking">
                <!-- Booking form -->
                <form class="booking-form clearfix" action="#">
                    <!-- Do Not remove the classes -->
                    <div class="input-daterange col-md-12" id="divbooking">

                        <div class="col-md-4">
                            <label>Check-In</label>
                            <div class="booking-fields">
                                <input readonly placeholder="Check in" class="datepicker-fields check-in dates" type="text" autocomplete="off" id="startdate" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                                <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label> Check-Out</label>
                            <div class="booking-fields">
                                <input readonly placeholder="Check out" class="datepicker-fields check-out dates" type="text" autocomplete="off" id="enddate" />
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label> Adults</label>
                            <div class="booking-fields">
                                <select id="booking-field2">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div> @*name="start"  name="end" name="room-type"*@
                    <input hidden type="text" name="culture" id="culture" />
                    <input hidden type="text" name="date" id="date" />
                    <input hidden type="text" name="nights" id="nights" />
                    <input hidden type="text" name="adults" id="adults" />
                    @*<div class="input-daterange col-md-8">
                            <div class="booking-fields col-md-6">
                                <input placeholder="Check in" class="datepicker-fields check-in" type="text" name="start" autocomplete="off" id="startdate"/><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                                <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                            </div>
                            <div class="booking-fields col-md-6">
                                <input placeholder="Check out" class="datepicker-fields check-out" type="text" name="end" autocomplete="off" id="enddate" />
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="booking-fields col-md-4">
                            <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                            <select name="room-type" id="booking-field2">
                                <option value="1">Adults</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <!-- End of Select boxes -->
                        </div>*@

                    @*@if (ViewBag.BookingUrl != null)
                          {
                          <div class="booking-button-container">
                             <input class="btn btn-default" value="Book" type="submit" onClick="window.open('@ViewBag.BookingUrl');" /><!-- Submit button -->
                                      </div>
                        }*@

                    @if (ViewBag.Mode == 2)
                    {
                        if (ViewBag.BookingRedirection == true & (ViewBag.BookingUrl != null || ViewBag.BookingUrl != ""))
                        {
                            <div >
                                @*<input class="btn btn-default" value="Book" type="submit" onClick="window.open('@ViewBag.BookingUrl');" />*@<!-- Submit button -->
                                <input class="btn btn-default" value="Book" type="submit" onClick="return Booking();" />
                            </div>
                        }
                    }
                </form>
                <div class="clearfix"></div>
                <div id="test" style="visibility:hidden;">
                    <input type="hidden" value="@ViewBag.BookingUrl" id="hdnurl" />
                    <input type="hidden" value="@ViewBag.BookingRedirection" id="hdnRedirect" />
                </div>
            </div>
        </div>
    </div>


    @if (ViewBag.OffersDetail != null)
    {
        foreach (var item in ViewBag.OffersDetail)
        {

            <div class="room-details container">
                <div class="description">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(@item.DescriptionEn))

                    </p>
                    <ul class="services list-inline text-left overflow-auto">
                        @for (int i = 0; i < item.arAmnEn.Length; i++)
                        {
                            if (!String.IsNullOrEmpty(item.arAmnEn[i]))
                            {
                                <li class="col-sm-3"><i class="fa @item.amIcons[i]"></i>&nbsp;@item.arAmnEn[i]</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
    }
    @if (ViewBag.Mode == 1)
    {
        <div class="booking-title-box">
            <div class="booking-title-box-inner container">
                <form class="booking-form clearfix">
                    <div class="booking-button-container">
                        <input class="btn btn-default" value="Book" type="submit" onClick="window.open('tel:0096692000555');" /><!-- Submit button -->
                    </div>
                </form>
            </div>
        </div>
      }


            </div>
            <!-- End of Welcome -->

            @section scripts{
                <script type="text/javascript">
                    $("body").addClass("internal-pages room-details trans-header sticky");
                    $("p").removeClass("p1");
                    $("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
                </script>
                <script>
                    var fullDate = new Date();
                    fullDate = fullDate.setDate(fullDate.getDate() + 1);

                    jQuery("#startdate").datepicker({
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        startDate: new Date()
                    });
                    jQuery("#enddate").datepicker({
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        startDate: new Date(fullDate)
                    });
                    $("#startdate").datepicker('setDate',new Date());

                    $("#enddate").datepicker('setDate',new Date(fullDate));

                    $(document).ready(function()
                    {
                        $(function() {
                            $("input.dates").each(function(){
                                var currentValue = $(this).val();
                                if(currentValue)
                                    $(this).datepicker('setDate',new Date(currentValue));
                            });
                        });
                        $("input.dates").keydown(function(event) {
                            if(event.keyCode != 8){
                                event.preventDefault();
                            }
                        });
                    })
                </script>
                <script>
                    $(document).ready(function(){
                        $("input").change(function(){
                            debugger;

                            var start =$("#startdate").val();
                            var SDate = new Date(start);
                            var end = $("#enddate").val();
                            var EDate = new Date(end);

                            if(start == end){
                                EDate = SDate.setDate(SDate.getDate() + 1);
                                $("#enddate").datepicker('setDate',new Date(EDate));
                            }
                        });
                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        var url = $('#hdnurl').val();
                        if(@ViewBag.Mode == 1){
                            $("#divbooking").hide();
                        }
                        var redirect = $('#hdnRedirect').val();
                        if ((redirect == "value" || redirect == "") && url == "" && @ViewBag.Mode ==2) {
                            $("#divformbooking").hide();
                            var distinct = '<div class="clearfix"></div>'
                            $("#divformbooking ").after(distinct);
                        }
                    });

                    function Booking()
                    {
                        var startdate = $("#startdate").val();
                        var enddate = $("#enddate").val();
                        var Adult = $("#booking-field2").val();
                        var hdnRedirect = $("#hdnRedirect").val();

                        var startDay = new Date(startdate);
                        var endDay = new Date(enddate);
                        if(startdate =='' || enddate =='' || Adult =='')
                            event.preventDefault();
                        var days = (endDay - startDay) / (1000 * 60 * 60 * 24);
                        var d=startdate.split("-");
                        var dd=d[2];
                        var mm=d[1];
                        var yy=d[0];
                        var date = dd +'.'+mm +'.' +yy;
                        @*var url = '@ViewBag.BookingUrl' +'?culture=en-gb&date='+ date+'&nights='+days+'&adults='+Adult;

            document.location.href = url;*@
                        var url = '@ViewBag.BookingUrl';

                        $("#culture").val('en-gb');
                        $("#date").val(date);
                        $("#nights").val(days);
                        $("#adults").val(Adult);

                        document.myform.action = url;
                    }
                </script>
            }
