﻿@model BrairaHotel.CareerApplicationDTO
@{
    ViewBag.Title = "Careers at Braira Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}


@section styles{
    <style>
        .text-danger2 {
            color: red;
        }
    </style>
}



<!-- Internal Page Header -->
<div class="internal-page-title about-page about-header" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/careers-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar">الرئيسية</a></li>
        <li class="active">وظائف</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<div id="welcome1" class="container">
    <!-- Heading box -->
    <div class="heading-box">
        <h2><span>وظائف</span></h2>
        <!-- Title -->
    </div>
</div>
@*<div class="booking-title-box careers-bg">*@
<div class="booking-title-box ">
    <div class="booking-title-box-inner container">
        <!-- Booking form -->
        <br />
        <form class="booking-form clearfix" method="post" enctype="multipart/form-data">

            @if (ViewData["Success"] != null)
            {
                //Success
                @Html.Raw(ViewData["Success"].ToString())

            }
            else if (ViewData["Error"] != null)
            {
                //failure
                @Html.Raw(ViewData["Error"].ToString())
            }

            @if (ViewBag.JobCatList != null)
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Job Category</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="JobCategoryId" id="ddlJobCat" required>
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                    <div id="lbValidateJobCat"></div>
                </div>
            }

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Position</label>
                <div class="col-sm-4">
                    <select class="form-control" name="PositionId" id="ddlPosition" required>
                        <option selected="selected">Select</option>
                    </select>
                </div>
                <div id="lbValidatePos"></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Applicant Name</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.FullName, new { id = "txtFullName", @class = "form-control", @maxlength = 250, @placeHolder = "Enter Full Name" })
                </div>
                <div id="lbValidateFName"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Mobile Number</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Phone, new { @type = "tel", id = "txtPhoneNumber", @maxlength = "12", @placeholder = "Enter 12 Digits Phone Number", @class = "form-control" })
                </div>
                <div id="lbValidatePhone"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Email</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Email, new { @type = "Email", id = "txtEmail", @class = "form-control", @maxlength = "150", @placeholder = "Enter valid Email Id" })
                </div>
                <div id="lbValidateEmail"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">File Upload</label>
                <div class="col-sm-4">
                    <input name="fileUpload" id="DocUpload" accept="application/msword,application/pdf" type="file" required />
                    @Html.ValidationMessageFor(model => model.ProfilePath, "", new { @class = "text-danger2" })
                    <p id="fuError" style="color: red;"></p>
                </div>
                <div id="lbValidateFile"></div>
            </div>
            <div class="booking-button-container">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button id="btnSubmit" style="margin-left:150px;" onclick="validateDestination()" class="btn btn-default">Submit</button>
                </div>
            </div>



            <!-- Do Not remove the classes -->
            @*<div class="booking-fields col-sm-3">
                    <input type="text" placeholder="Enter Keyword" />
                </div>*@
            @*<div class="booking-fields col-sm-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field3">
                        <option value="">Categories</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="1">Food &amp; Beverage - Restaurant &amp; Lounge</option>
                        <option value="2">Spa &amp; Fitness</option>
                        <option value="3">Rooms - Housekeeping</option>
                        <option value="4">Rooms - Front Office/Guest Services</option>
                        <option value="5">Food &amp; Beverage - Banquets</option>
                        <option value="6">Sales, Marketing, &amp; Public Relations</option>
                        <option value="7">Engineering / Maintenance / Grounds </option>
                        <option value="8">Stewarding</option>
                        <option value="9">Rooms - Laundry/Valet</option>
                        <option value="10">Food &amp; Beverage - Room Service</option>
                        <option value="11">Reservations &amp; Revenue</option>
                        <option value="12">Security &amp; Loss Prevention</option>
                        <option value="13">Accounting &amp; Finance</option>
                        <option value="14">Catering</option>
                        <option value="15">Human Resources &amp; Training</option>
                        <option value="16">Hotel Operations / Management</option>
                        <option value="17">Food &amp; Beverage Management</option>
                        <option value="18">Purchasing &amp; Procurement</option>
                        <option value="19">Information Technology</option>
                        <option value="20">Employee Dining</option>
                        <option value="21">Rooms Management</option>
                        <option value="22">Conference Planning</option>
                        <option value="23">Staff Housing</option>
                        <option value="24">Manager in Training</option>
                        <option value="25">Audio Visual</option>
                        <option value="26">Business Center</option>
                        <option value="27">Operations - Corporate</option>
                        <option value="28">Design &amp; Construction</option>
                        <option value="29">Legal</option>
                        <option value="30">Executive Managerial</option>
                        <option value="31">Development</option>
                        <option value="32">Food &amp; Beverage - Kitchen</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>*@
            @*<div class="booking-fields col-sm-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Location</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">Riyadh</option>
                        <option value="3">Dammam</option>
                        <option value="4">Khobar</option>
                        <option value="5">Jeddah</option>
                        <option value="6">Al Taif</option>
                        <option value="6">Qassim</option>
                        <option value="6">Hail</option>
                        <option value="6">Abha</option>
                        <option value="6">Hafr AlBatin</option>
                        <option value="6">Kuwait City</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>*@
            @*<div class="booking-fields col-sm-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <button class="job-button">Search</button>
                    <!-- End of Select boxes -->
                </div>*@
        </form>
    </div>
</div>
@*<div class="booking-title-box careers-bg">
    <div class="booking-title-box-inner container">
        <!-- Booking form -->
        <form class="booking-form clearfix" action="#">
            <!-- Do Not remove the classes -->
            <div class="booking-fields col-sm-3">
                <input type="text" placeholder="إختر وظيفة" />
            </div>

            <div class="booking-fields col-sm-3">
                <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                <select name="room-type" id="booking-field3">
                    <option value="">Categories</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                    <option value="1">( أغذية و مشروبات ( صالات و مطاعم</option>
                    <option value="2">المنتجع الصحى و مركز اللياقة</option>
                    <option value="3">غرف - إشراف داخلى</option>
                    <option value="4">الإستقبال - خدمة النزلاء</option>
                    <option value="5">أغذية و المشروبات</option>
                    <option value="6">التسويق والمبيعات والعلاقات العامة</option>
                    <option value="7">الهندسة و الصيانة</option>
                    <option value="8">إشراف داخلى - نظافة غرف</option>
                    <option value="9">غسيل و كى</option>
                    <option value="10">خدمة غرف</option>
                    <option value="11">الحجوزات</option>
                    <option value="12">الأمن</option>
                    <option value="13">إدارة مالية و محاسبة</option>
                    <option value="14">تقديم الطعام</option>
                    <option value="15">موارد بشرية</option>
                    <option value="16">أدارة و تشغيل الفنادق</option>
                    <option value="17">إدارة أغذية و مشروبات</option>
                    <option value="18">قسم المشتريات</option>
                    <option value="19">تكنولوجيا المعلومات</option>
                    <option value="20">خدمة المطعم</option>
                    <option value="21">إدارة الغرف</option>
                    <option value="22">إدارة المؤتمرات</option>
                    <option value="23">التسكين</option>
                    <option value="24">مسؤل تدريب</option>
                    <option value="25">صوتيات و مرئيات</option>
                    <option value="26">مركز رجال الأعمال</option>
                    <option value="27">أدارة و تنظيم</option>
                    <option value="28">تصميم و إنشاء</option>
                    <option value="29">شؤن قانونية</option>
                    <option value="30">إدارة تنفيذية</option>
                    <option value="31">تطوير</option>
                    <option value="32">أغذية و مشروبات - مطبخ</option>
                </select>
                <!-- End of Select boxes -->
            </div>
            <div class="booking-fields col-sm-3">
                <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                <select name="room-type" id="booking-field2">
                    <option value="">موقعك</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                    <option value="3">العليا</option>
                    <option value="4">العزيزيه</option>
                    <option value="5">الصحافة</option>
                </select>
                <!-- End of Select boxes -->
            </div>
            <div class="booking-fields col-sm-3">
                <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                <button class="job-button">إبحث عن</button>
                <!-- End of Select boxes -->
            </div>
        </form>
    </div>
</div>*@
<!-- Welcome -->
<div id="welcome" class="container">
    <div class="main-content container">
        <!-- Page Content -->
        <div class="page-content col-sm-6">
            <!-- Rooms Container -->
            <div class="room-container room-grid clearfix">
                <!-- Room Boxes -->
                <div class="room-box col-xs-12">
                    <div class="img-container">
                        <img src="~/areas/ar/assets/img/careers.jpg" alt="Careers at Braira" />
                    </div>
                </div>
            </div>
            <!-- End of Rooms Container -->

        </div>
        <!-- Sidebar Section -->
        <aside class="sidebar right-sidebar col-sm-6">
            <!-- Text Widget -->
            <div class="widget widget_text">
                <div class="textwidget text-justify">
                    <p>
                        نحن نؤمن بأن الضيافة لسيت بوظيفة على الإطلاق, فالضيافة رحلة ومغامرة لإكتشاف الكثير من القدرات و رحلة عبر المجتماعات والثقافات.
                    </p>
                    <p>
                        فى الضيافة تكمُن الفرصة لفعل شىء حقيقى ذات معنى, الفرصة لتتحدى نفسك و تتعلم مهارات جديدة. معنا ستكون محاط بفريق عمل طموح وذكى و مُحفز لأقصى الحدود. هيا بنا نغير مفهوم العالم عن الضايفة, كُن واحداََ من عائلة بريرا لنوصل رسالة للعالم مفادها أن شعارنا هو “ نحن الضيافة”.
                        هذا هو مفهوم العمل لدينا والمتوقع من أى شخص يحلم بأن يكون جزء من مجموعة فنادق بريرا.
                        إبحث عن الوظيفة التى ترغب بها و إرسل لنا سيرتك الذاتية.


                    </p>
                </div>
            </div>
        </aside>

        <!-- Sidebar Section -->

    </div>
</div>
<!-- End of Welcome -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages room-details trans-header sticky")
    </script>

<script type="text/javascript">
            function validateDestination() {
                var JobCate = $("#ddlJobCat").val();
                var Position = $("#ddlPosition").val();
                var location = $("#ddlLocation").val();
                var FName = $("#txtFullName").val();
                var PhoneNum = $("#txtPhoneNumber").val();
                var TEmail = $("#txtEmail").val();
                //var Position = $("#").val();


                if (JobCate == "") {
                    $("#lbValidateJobCat").html("*Please select Job Category");
                    //$("#lbValidate").attr('style', 'color: #99003d !important');
                    $("#lbValidateJobCat").attr('style', 'color: #99003d;font-size:25px');
                }
                else {
                    $("#lbValidateJobCat").html("");
                }
                if (Position == "") {
                    $("#lbValidatePos").html("*Please select Position");
                    $("#lbValidatePos").attr('style', 'color: #99003d;font-size:25px');
                }
                else {
                    $("#lbValidatePos").html("");
                }
                if (location == "") {
                    $("#lbValidateLocation").html("*Please select Job Location");
                    $("#lbValidateLocation").attr('style', 'color: #99003d;font-size:25px');
                }
                else {
                    $("#lbValidateLocation").html("");
                }
                if (FName == "") {
                    $("#lbValidateFName").html("*Enter Applicant Full Name");
                    $("#lbValidateFName").attr('style', 'color: #99003d;font-size:25px');
                }
                else {
                    $("#lbValidateFName").html("");
                }
                if (PhoneNum == "") {
                    $("#lbValidatePhone").html("*Enter Phone Number");
                    $("#lbValidatePhone").attr('style', 'color: #99003d;font-size:25px');
                }
                else {
                    $("#lbValidatePhone").html("");
                }
                if (TEmail == "") {
                    $("#lbValidateEmail").html("*Enter Email Id");
                    $("#lbValidateEmail").attr('style', 'color: #99003d;font-size:25px');
                }
                else {
                    $("#lbValidateEmail").html("");
                }
            }
            //$("body").addClass("homepage trans-header sticky white-datepicker");
            $(document).ready(function () {
                var jobcat=null;
                var ctId=null;
                var loc=null;
                $("#ddlJobCat").empty();
                $("#ddlJobCat").append($('<option>', {
                    value: 0
                }));
                var model = @Html.Raw(ViewBag.JobCatList);
                for(var i = 0; i < model.length; i++) {

                    $('#ddlJobCat').append($('<option>', {
                        value: model[i].Id,
                        text: model[i].NameEn
                    }))

                }
                $('#ddlJobCat').trigger("chosen:updated");
                $('#ddlJobCat').change(function () {
                    //var value = $(this).val();
                    jobcat=$(this).val();
                    $("#ddlPosition").empty();
                    $("#ddlPosition").append($('<option>', {
                        value: 0
                    }));
                    var model1 = @Html.Raw(ViewBag.PositionList);
                    for(var i = 0; i < model1.length; i++) {
                        if (model1[i].JobCategoryId == jobcat) {
                            $('#ddlPosition').append($('<option>', {
                                value: model1[i].Id,
                                text: model1[i].PositionEn
                            }))
                        }
                    }
                    $('#ddlPosition').trigger("chosen:updated");
                });
                @*$('#ddlPosition').change(function () {
            //var value = $(this).val();
            //ctId=parseInt($(this).val());
            ctId=$(this).val();
            $("#ddlLocation").empty();
            $("#ddlLocation").append($('<option>', {
                value: 0
            }));
            var model2 = @Html.Raw(ViewBag.PositionList);
            for(var i = 0; i < model2.length; i++) {
                if (model2[i].JobCategoryId == jobcat && model2[i].CityId==ctId) {
                    $('#ddlLocation').append($('<option>', {
                        value: model2[i].Id,
                        text: model2[i].PositionEn
                    }))
                }
            }
            $('#ddlLocation').trigger("chosen:updated");
        });*@
                //$('#DocUpload').click(function() {
                //    var ext = $('#DocUpload').val().split(".").pop().toLowerCase();
                //    if($.inArray(ext, ["doc","pdf",'docx']) == -1) {
                //        // false
                //    }else{
                //        // true
                //    }
                //});
                $('#DocUpload').on( 'change', function() {
                    myfile= $( this ).val();
                    var ext = myfile.split('.').pop().toLowerCase();
                    if(ext=="pdf" || ext=="docx" || ext=="doc")
                    {
                        $("#btnSubmit").attr("disabled", false);
                        $(".text-danger2").text("");
                    }
                    else
                    {

                        $(".text-danger2").text("Invalid File! You can upload only doc and pdf file.");
                        $("#btnSubmit").attr("disabled", true);
                    }
                });
            });
</script>cs

}
