﻿
@{
    ViewBag.Title = "قريباً إفتتاح فندق بريرا فرع قرطبة بالرياض";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li><a href="~/ar/news">الأخبار</a></li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="javascript:;">
                    <img src="~/assets/img/news/braira-cordoba.jpg" class="post-img" alt="Braia News 2" />
                </a>
                <a href="javascript:;" class="post-title">إفتتاح فندق بريرا فرع قرطبة بالرياض بالرياض</a>
                <div class="post-desc">
                    <p>
                        تم إفتتاح فندق بريرا فرع قرطبة بالرياض, والذى يمتاز بالتصميم الأنيق والآثاث العصرى الذى يتناسب مع جميع الأذواق, ترقبوا عروض  وخصومات لا مثيل لها و إستمتعوا بأجمل الليالى فى فنادق ومنتجعات بريرا.
                    </p>
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">28 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

