﻿
@{
    ViewBag.Title = "Braira Al Dammam Branch";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">

    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/AlDammam1.jpg" alt="azizya 1" />
        </div>
        <div class="items">
                        <img src="~/assets/img/branches/AlDammam2.jpg" alt="azizya 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam3.jpg" alt="azizya 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam4.jpg" alt="azizya 4" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam5.jpg" alt="azizya 5" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam6.jpg" alt="azizya 6" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam7.jpg" alt="azizya 7" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam8.jpg" alt="azizya 8" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam9.jpg" alt="azizya 8" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam10.jpg" alt="azizya 8" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/AlDammam11.jpg" alt="azizya 8" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>بریرا </span> الدمام </h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span> - فنادق فئة خمسة نجوم</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">بالغين</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="احجز الأن" type="submit" onClick="window.open('http://dammam.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                ينفرد فندق بريرا الدمام بموقعه الاستراتيجي والمطل علي الواجهه البحرية محاطا بأهم مراكز التسوق التجارية والمراكز الحكومية ، وعلى مسافة تقارب 20 كم من مطار الملك فهد الدولي و 5 كم من استاد الامير محمد بن فهد الدولي ويبعد حوالي 10 كم من ارامكو الظهران ومسافة مماثلة الي مدينة الخبر.
            </p>
            <h2>الخدمات</h2>
            <p class="text-left">مطعم يقدم أشهى المأكولات العالمية بوفيه يومي أو إختياركم من لائحة طعام مميزة من حول العالم.</p>
            <p class="text-left">مقهي يقدم افضل إختيار من القهوة والشاي وعصير الفاكهة الطازجة.</p>
            <p class="text-left">خدمة الغرف علي مدى 24 ساعة </p>
            <p class="text-left">حمام سباحة داخلي.</p>
            <p class="text-left">صالة رياضية مجهزة بأحدث معدات اللياقة.</p>
            <p class="text-left">حمام بخار, سونا, وجاكوزي ، وحمام مغربي.</p>
            <p class="text-left">غرف تدليك من أخصائيين معتمدين.</p>
            <h2>قاعة الإجتماعات</h2>
            <p>
                للإجتماعات الناجحة ، وقاعات الإجتماعات موجودة في طابق الميزانين مثالية للإجتماعات وعقد الندوات والدورات التدريبية ذات سعة من 20 الي 500 محاضر ، مزودة بأحدث التقنيات المرئية والمسموعه

            </p>
            <h2>الإقامة</h2>
            <p>أجنحة راقية بإطلالة رائعة على المدينة والبحر.
يحتوي فندق بيريرا الدمام على غرف وأجنحة فاخرة ، تتكون من غرفة نوم ومجلس وأخري من غرفتين مع صالة معيشة وطاولة طعام وشاشات تلفزة ، ومجموعة الكي بالإضافة إلي مجموعات الشاي والقهوة المجانية. جميع الأجنحة مزودة بمطبخ صغير يلبي الإحتياجات السريعة ، مصممة بديكورات عصرية ساحرة وبإطلالة رائعة على المدينة والواجهة البحرية لمدينة الدمام التي تعطيك جوا من الدفئ والراحة
</p><br />
            <h1>
                * الدخول ٤ مساء * الخروج ١٢ مساء ا
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/areas/ar/assets/img/branches/azizya-features.jpg" alt="Braira Azizya Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">المرافق</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 50 عدد الغرف</li>
                        <li><i class="fa fa-building-o"></i> مواجھ للشاطئ </li>
                        <li><i class="fa fa-bed"></i> غرف عائلیة</li>
                        <li><i class="fa fa-wifi"></i> واي فاي مجاني</li>
                        <li><i class="fa fa-car"></i> مواقف سیارات مجانیة</li>
                        <li><i class="fa fa-heartbeat"></i> مركز للیاقة البدنية</li>
                        <li><i class="fa fa-hotel"></i> خدمة الغرف</li>
                        <li><i class="fa fa-coffee"></i> آلة صنع الشاي / القھوة</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->

<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(26.470044, 50.1217633);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}