﻿
@{
    ViewBag.Title = "Braira AlshaHafah Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">

    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">
            <img src="~/assets/img/branches/alsahafa1.jpg" alt="alsahafa 1" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/alsahafa2.jpg" alt="alsahafa 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/alsahafa3.jpg" alt="alsahafa 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/alsahafa4.jpg" alt="alsahafa 4" />
        </div>        
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>Braira</span> Al - Sahafa</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span>- Four Star Hotels</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-in" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="Check-Out" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">Adult</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">Children</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="Book Now" type="submit" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                Situated in Riyadh, Al Sahafa Region. King Abdulaziz road, near by the Kingdom Hospita, Braira Al Sahafa Hotel boasts a year-round outdoor pool. Guests can enjoy the on-site restaurant.
            </p>
            <p>
                Each room at this hotel is air conditioned and is fitted with a flat-screen TV with satellite channels. You will find a coffee machine in the room. Every room comes with a private bathroom equipped with a bath or shower. For your comfort, you will find bathrobes and slippers. Braira Al Sahafa Hotel features free Wi Fi throughout the property.
            </p>
            <p>
                There is a 24-hour front desk and hair dresser's at the property.<br />
                Kingdom Center is 11 km from Braira Al Sahafa Hotel, while DIR’IYYAH is 12 km from the property. The nearest airport is King Khalid Airport, 17 km from the property.

            </p><br />
            <h1>
                * Check-in: 3 p.m. * Check-out: 12 p.m.
            </h1>
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/assets/img/branches/alsahafa-features.jpg" alt="Braira AlSahafa Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">Most Popular Facilities</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 50 Rooms</li>
                        <li><i class="fa fa-building-o"></i> Outdoor Pool</li>
                        <li><i class="fa fa-bed"></i> Family Rooms</li>
                        <li><i class="fa fa-wifi"></i> Free Wifi</li>
                        <li><i class="fa fa-car"></i> Free Parking</li>
                        <li><i class="fa fa-heartbeat"></i> Fitness Center</li>
                        <li><i class="fa fa-coffee"></i> Tea / Coffee Maker</li>
                        <li><i class="fa fa-fighter-jet"></i> Airport Shuttle</li>                        
                    </ul>
                </div>               
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
<script type="text/javascript">
    "use strict";
    function initialize() {
        var myLatLng = new google.maps.LatLng(24.810645, 46.647475);
        var mapOptions = {
            zoom: 14,
            center: myLatLng,
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

            // Extra options
            scrollwheel: false,
            mapTypeControl: false,
            panControl: false,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL,
                position: google.maps.ControlPosition.LEFT_BOTTOM
            }
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var image = 'http://csadms.com/braira-website/assets/img/marker.png';
        var beachMarker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>


}