﻿@model BrairaHotel.ContactRequestDTO
@{
    ViewBag.Title = "Contact Us Braira Hotels Saudi Arabia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    
}
<div id="map">

</div>
<!-- Contact Page Container -->
<div class="contact-page-container container">

    <!-- Contact Info -->
    <div class="contact-info-main-box container">
        <div class="contact-info-inner clearfix">
            <div class="contact-info-box col-md-4">
                <i class="fa fa-envelope-o"></i><div class="info">info@brairahotels.com</div>
            </div>
            <div class="contact-info-box col-md-4">
                <i class="fa fa-phone"></i><div class="info">9200 00555</div>
            </div>
            <div class="contact-info-box col-md-4">
                <i class="fa fa-map-marker "></i><div class="info">Al-Roshd street, Qurtobah, Riyadh 13245, Suadi Arabia</div>
            </div>
        </div>
    </div>

    <!-- Contact Form -->
    <div class="contact-form-container">
        <div class="how-contact col-md-4">
            <div class="title">We'd love to hear from you!</div>
            <div class="desc">
                Braira Hotels is committed to providing top quality service and endeavors to achieve total guest satisfaction.
            </div>
        </div>
        <div class="contact-form-box col-md-8">
            <form class="contact-form clearfix" method="post">
                <div class="col-md-6">
                    <input type="text" name="FullName" placeholder="Full Name :" maxlength="150" required>
                    <input type="email" name="email" placeholder="Email :" maxlength="200" required>
                    <input type="tel" name="phone" placeholder="Phone :12 Digits Only" maxlength="12" pattern="^\d{12}$" onkeypress="return isNumberKey(event)" required />
                </div>
                <div class="col-md-6">
                    <textarea name="message" placeholder="Your Message : "maxlength="500" required></textarea>
                </div>
                @if (ViewData["Success"] != null)
                {
                    @*<p class="alert alert-success" id="successMessage">@ViewData["Success"]</p>*@
                    <div class="col-sm-8">
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>@ViewData["Success"]</strong>
                        </div>
                    </div>
                }
                @if (ViewData["Error"] != null)
                {
                    <div class="col-sm-8">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>@ViewData["Error"]</strong>
                        </div>
                    </div>
                }
                <div class="submit-container">
                    <input type="submit" value="Submit" class="btn btn-default">
                </div>
            </form>
        </div>
    </div>

</div>
<!-- End of Contact Page Container -->

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-2")
</script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDr49OIN7MEM9KhBHOY1WAP_CKFd3uy7Ho"></script>
<script type="text/javascript">
    "use strict";
    function initialize() {
        var myLatLng = new google.maps.LatLng(24.817826, 46.740401);
        var mapOptions = {
            zoom: 14,
            center: myLatLng,
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

            // Extra options
            scrollwheel: false,
            mapTypeControl: false,
            panControl: false,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL,
                position: google.maps.ControlPosition.LEFT_BOTTOM
            }
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var image = 'http://csadms.com/braira-website/assets/img/marker.png';        
        var beachMarker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode < 47 || charCode > 57))
                return false;
            return true;
        }
</script>
}