﻿
@{
    ViewBag.Title = "Luxury Hotel Award";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">    
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>        
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="#">                    
                    <img src="~/assets/img/news/luxury-awards.jpg" alt="braira hotel news" class="post-img" />
                </a>
                <a href="#" class="post-title">Luxury Hotel Award</a>
                <div class="post-desc">
                    <p>
                        Narcissus Hotel &amp; Residence Riyadh is the Winner of Luxury Hotel World Award in Middle East and Africa for the 4th year.
                    </p>
                    
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">28 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}


