﻿
@{
    ViewBag.Title = "Braira Cordoba Branch Coming Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/news-header.jpg">    
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/home">Home</a></li>
        <li><a href="~/news">News</a></li>        
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Main Container -->
<div class="main-content container">
    <!-- Page Content -->
    <div class="page-content col-md-12">
        <!-- Post Container -->
        <div class="post-container">
            <!-- Post boxes -->
            <div class="post-box no-hover">
                <a href="#">                    
                    <img src="~/assets/img/news/braira-cordoba.jpg" class="post-img" alt="Braia News 2" />
                </a>
                <a href="#" class="post-title">Braira Cordoba Branch is Open</a>
                <div class="post-desc">
                    <p>
                        Now Braira Hotel Cordoba branch is open to the public, Braira which is characterized by elegant design and modern furniture to suit all tastes, watch our amazing offers and discounts which are unbelievable  and enjoy the most beautiful nights in Braira Hotels and Resorts.
                    </p>
                    
                </div>
                <div class="post-meta clearfix">
                    <div class="post-date">28 - Oct - 2017</div>
                </div>
            </div>
        </div>
        <!-- End of Post Container -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}

