﻿
@{
    ViewBag.Title = "Braira Al Azizya Hotels &amp; Resort Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style type="text/css">
        /*.heading-box h1 span{
            font-weight: bold;
        }
        .heading-box h1{
            color: #bf1e2e;
            display: inline-block;
            border-bottom: 1px solid #bf1e2e;
            padding: 0 20px 20px;
            margin: 20px 0;
            font-size: 40px;
            letter-spacing: -2px;
            position: relative;
            z-index: 1;
        }*/
    </style>
}
<div class="room-detail-page">

    <!-- Main Slider -->

    @if (ViewBag.MediaType != null)
            {
                if (ViewBag.MediaType == "2")
                {
                    if (ViewBag.BranchBanners != null)
                    {
                        foreach (var item in ViewBag.BranchBanners)
                        {
                    <div id="main-slider">
                        <div class="video-container">
                            <video id="my-video" class="video-js vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active" controls preload="auto" poster="http://csadms.com/boudl-apart/assets/img/corporate/poster.jpg" data-setup="{}" autoplay muted loop>
                                <source src=@ViewBag.ImageUrl + @item.SourcePath type="video/mp4">
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                        </div>
                    </div>
                }
            }
        }
        else if (ViewBag.MediaType == "1")
        {
            <div id="room-details-slider">
                @foreach (var item in ViewBag.BranchBanners)
                {
                    <div class="items">
                        <img src="@ViewBag.ImageUrl@item.SourcePath" />
                    </div>
                }
            </div>

        }
        else if (ViewBag.MediaType == "3")
        {
            foreach (var item in ViewBag.BranchBanners)
            {
                <div id="main-slider">
                    <div class="video-container">
                        <iframe class="full-video" src="@("https://www.youtube.com/embed/"+@item.SourcePath+"?rel=0&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist="+@item.SourcePath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        @*<iframe class="full-video" src="https://www.youtube.com/embed/Jh0M2v83CN4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                    </div>
                </div>
            }
        }
    }

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                @if (ViewBag.Branchdetails != null)
                {
                    foreach (var item in ViewBag.Branchdetails)
                    {

                        <h1>بریرا <span>@item.NameAr</span></h1><!-- Title -->
                        <div class="subtitle price">
                            @for (var i = 0; i < item.BranchRating; i++)
                            {
                                <i class="glyphicon glyphicon-star"></i>
                            }
                            @if (item.BranchRating > 0)
                            {
                                int Rating = item.BranchRating;
                                switch (Rating)
                                {
                                    case 1:<span>-One Star Hotels</span>break;
                                    case 2:<span>-Two Star Hotels</span>break;
                                    case 3:<span>-Three Star Hotels</span>break;
                                    case 4:<span>-Four Star Hotels</span>break;
                                    case 5:<span>-Five Star Hotels</span>break;
                                }
                            }

                        </div>
                    }

                }
                else
                {
                    <h3>No content available</h3>
                }

                @*<div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span> - فنادق فئة أربعة نجوم</span></div>*@
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#" name="myform">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-12">

                    <div class="col-md-4">
                        <label>الوصول</label>
                        <div class="booking-fields">
                            <input readonly placeholder="Check in" class="datepicker-fields check-in dates" type="text" autocomplete="off" id="startdate" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                            <i class="fa fa-calendar"></i><!-- Date Picker Icon name="start"  -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>المغادرة</label>
                        <div class="booking-fields">
                            <input readonly placeholder="Check out" class="datepicker-fields check-out dates" type="text" autocomplete="off" id="enddate" />
                            <i class="fa fa-calendar"></i><!-- name="end"-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label> البالغون</label>
                        <div class="booking-fields">
                            <select id="booking-field2">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input hidden type="text" name="culture" id="culture" />
                <input hidden type="text" name="date" id="date" />
                <input hidden type="text" name="nights" id="nights" />
                <input hidden type="text" name="adults" id="adults" />
                <div class="booking-button-container">
                    @foreach (var item in ViewBag.Branchdetails)
                    {
                        <div class="booking-button-container">
                            <input class="btn btn-default h-75" value="احجز الأن" type="submit" onClick="return Booking('@item.BookingUrl');" />

                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            @if (ViewBag.Branchdetails != null)
            {
                foreach (var item in ViewBag.Branchdetails)
                {
                    //@item.AboutAr
                    @Html.Raw(HttpUtility.HtmlDecode(@item.AboutAr))
                }
            }
            
        </div>
    </div>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp branch-package">
            <img src="@ViewBag.ImageUrl@ViewBag.BranchDetails[0].FacilityBgImagePath" alt="Braira Azizya Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">المرافق</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        @if (ViewBag.AmenitiesList != null)
                        {
                            foreach (var item in ViewBag.AmenitiesList)
                            {
                                <li><i class="fa @item.IconClass"></i> @item.NameAr</li>
                            }
                        }
                        @*<li><i class="fa fa-building"></i> 50 عدد الغرف</li>
                            <li><i class="fa fa-building-o"></i> مواجھ للشاطئ </li>
                            <li><i class="fa fa-bed"></i> غرف عائلیة</li>
                            <li><i class="fa fa-wifi"></i> واي فاي مجاني</li>
                            <li><i class="fa fa-car"></i> مواقف سیارات مجانیة</li>
                            <li><i class="fa fa-heartbeat"></i> مركز للیاقة البدنية</li>
                            <li><i class="fa fa-hotel"></i> خدمة الغرف</li>
                            <li><i class="fa fa-coffee"></i> آلة صنع الشاي / القھوة</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->
<div id="map" class="loc-map">

</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
        $("p").removeClass("p1"); $("p").removeClass("p2");
        $("p").removeClass("p3");
        $("p").removeClass("p4");
        $("p").removeClass("p5");

        function Booking(url) {
            var startdate = $("#startdate").val();

            var enddate = $("#enddate").val();
            var Adult = $("#booking-field2").val();

            var startDay = new Date(startdate);
            var endDay = new Date(enddate);

            var days = (endDay - startDay) / (1000 * 60 * 60 * 24);

            var d = startdate.split("-");
            var dd = d[2];
            var mm = d[1];
            var yy = d[0];
            var date = dd + '.' + mm + '.' + yy;

            //var url = (url + '?culture=en-us&date=' + date + '&nights=' + days + '&adults=' + Adult);
            ////window.open(url);
            //document.location.href = url;
            $("#culture").val('en-us');
            $("#date").val(date);
            $("#nights").val(days);
            $("#adults").val(Adult);

            document.myform.action = url;
        }
    </script>
<script>
        var fullDate = new Date();
         fullDate = fullDate.setDate(fullDate.getDate() + 1);

        jQuery("#startdate").datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            startDate: new Date()
        });
        jQuery("#enddate").datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            startDate: new Date(fullDate)
        });
        $("#startdate").datepicker('setDate',new Date());

        $("#enddate").datepicker('setDate',new Date(fullDate));

        $(document).ready(function()
        {
            $(function() {
                $("input.dates").each(function(){
                    var currentValue = $(this).val();
                    if(currentValue)
                        $(this).datepicker('setDate',new Date(currentValue));
                });
            });
                $("input.dates").keydown(function(event) {
                    if(event.keyCode != 8){
                        event.preventDefault();
                    }
                });
        })
</script>
<script>
        $(document).ready(function(){
                $("input").change(function(){
                    debugger;

                    var start =$("#startdate").val();
                    var SDate = new Date(start);
                    var end = $("#enddate").val();
                    var EDate = new Date(end);

                    if(start == end){
                        EDate = SDate.setDate(SDate.getDate() + 1);
                        $("#enddate").datepicker('setDate',new Date(EDate));
                    }
                });
        });
</script>
<script>
    $(document).ready(function(){
        var vid = (@ViewBag.MediaType);
        if(vid == "2"){
            document.getElementById("my-video").controls = false;
        }
    });
</script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDr49OIN7MEM9KhBHOY1WAP_CKFd3uy7Ho"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var latitude = '@ViewData["latitude"]';
            var longitude = '@ViewData["longitude"]';
            var myLatLng = new google.maps.LatLng(latitude, longitude);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


}
