﻿
@{
    ViewBag.Title = "Braira Four Star Hotel Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{

}
<!-- Top Slider and Booking form -->
<div id="home-top-section">

    <!-- Main Slider -->
    <div id="main-slider">
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider5.jpg" alt="1" /><!-- Change the URL section based on your image\'s name -->
        </div>
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider6.jpg" alt="2" />
        </div>
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider7.jpg" alt="3" />
        </div>
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider8.jpg" alt="4" />
        </div>
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider9.jpg" alt="5" />
        </div>
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider10.jpg" alt="6" />
        </div>
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider11.jpg" alt="7" />
        </div>
        <div class="items">
            <img src="~/Areas/ar/assets/img/slider/slider12.jpg" alt="8" />
        </div>
    </div>

    <!-- Booking Form -->
    <div class="booking-form-container container">
        <div id="main-booking-form" class="style-2">
            <h2>احجز  <span>غرفة</span></h2>
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes 
                <div class="input-daterange clearfix">
                    <div class="booking-fields col-xs-6 col-md-12">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" />
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="booking-fields col-xs-6 col-md-12">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>-->
                <div class="booking-fields col-xs-12">
                    <select data-placeholder="اختر مدينة" class="chosen-select" name="city" id="ddlCity">
                        <option value=""></option>
                        <optgroup label="Saudi Arabia">
                            <option>الرياض</option>                            
                            <option>الخُبر</option>                            
                        </optgroup>
                    </select>
                </div>
                <div class="booking-fields col-xs-12">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="hotels" id="ddlHotels" data-placeholder="إختر وجهتك">
                        <option value=""></option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <!--
                <div class="booking-fields col-xs-6 col-md-12 clearfix">                    
                    <select name="room-type">
                        <option value="">البالغون</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>                    
                </div>
                <div class="booking-fields col-xs-6 col-md-12">
                    <select name="guest">
                        <option value="">الأطفال</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div> -->
                <div id="lbValidate"></div>
                
                <div class="booking-button-container">
                    <a href="javascript:;" target="_blank" id="lnkBooking" class="btn btn-default" onclick="validateDestination()">إحجز الآن</a>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of Top Slider and Booking form -->
<!-- Rooms Container -->
<section id="highlights">
    <div class="room-container container room-grid">
        <div class="heading-box">
            <h2><span>أحدث عروض هذا الأسبوع</span></h2><!-- Title -->
            <div class="subtitle">فنادق و منتجعات</div>
        </div>
        <div class="room-box col-xs-6">
            <!--<div class="img-container">
                <img src="~/Areas/ar/assets/img/offers/offer1.jpg" alt="Offers 1" />
            </div>-->
            <div class="details">
                <div class="price">
                    <a href="~/ar/offeralazizya/">المزيد</a>
                </div>
            </div>
        </div>

        <div class="room-box col-xs-6">
            <!--<div class="img-container">
                <img src="~/Areas/ar/assets/img/offers/offer2.jpg" alt="Offers 2" />
            </div>-->
            <div class="details">
                <div class="price">
                    <a href="~/ar/offeralsahafa/">المزيد</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Rooms Container -->
<!-- Luxury Rooms -->
<div id="luxury-rooms">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>نبذة عن <span>بریرا</span></h2><!-- Title -->
        <div class="subtitle">فنادق و منتجعات</div><!-- Subtitle -->
    </div>

    <!-- Room Box Container -->
    <div class="room-container container">
        <!-- Room box -->
        <div class="room-boxes">
            <img src="~/Areas/ar/assets/img/rooms/braira-home-about.jpg" class="room-img" alt="About Braira Hotels" />
            <div class="room-details col-xs-6 col-md-4">
                <div class="description">
                    <!-- Room Description -->
                    یُعد بریرا ذو تصنیف الأربع نجوم واحداً من أھم وأشھر العلامات التجاریة في مجال السیاحة والفنادق لعدة اعتبارات
                    أھمھا
                </div>
                <a href="~/ar/about" class="btn btn-default">المزيد</a><!-- Detail link -->
            </div>
        </div>
    </div>
</div>
<!-- End of Luxury Rooms -->
<!-- Our Services -->

<div id="our-services">
    <div class="heading-box">
        <h2><span>أبرز ما لدينا</span></h2>
    </div>
    <div id="services-box" class="owl-carousel owl-theme owl-rtl">
        <div class="item">
            <img src="~/Areas/ar/assets/img/services/braira-swimming-pool.jpg" alt="Swimming Pools" />
            <div class="title">حمامات سباحة للأطفال</div>
        </div>
        <div class="item">
            <img src="~/Areas/ar/assets/img/services/jetsky-and-flyboarding.jpg" alt="Jet Ski &amp; Fly Boarding" />
            <div class="title">لانش مائى و لوحة طائرة</div>
        </div>
        <div class="item">
            <img src="~/Areas/ar/assets/img/services/braira-parking-space.jpg" alt="Free Parking" />
            <div class="title">موقف سيارات مجانى</div>
        </div>
        <div class="item">
            <img src="~/Areas/ar/assets/img/services/braira-food-court.jpg" alt="Food Court" />
            <div class="title"> ساحة طعام </div>
        </div>
        <div class="item">
            <img src="~/Areas/ar/assets/img/services/free-wifi.png" alt="High Speed Internet" />
            <div class="title">إنترنت مجانى, مركز خدمة رجال الأعمال</div>
        </div>
    </div>
</div>
<!--
<section id="highlights1">
    <div class="room-container container room-grid">
        <div class="heading-box">
            <h2><span>لدينا ماأ</span></h2>
            <div class="subtitle">Hotels &amp; Resorts</div>
        </div>
        <div class="room-box col-xs-6 col-sm-4">
            <div class="img-container">
                <img src="~/Areas/ar/assets/img/highlights/highlights3.jpg" alt="Azizia Branch" />
            </div>
            <div class="details">
                <div class="title"><a href="#"><span>Braira</span> Family Package</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                </div>
                <div class="price">
                    <a href="#">More Details</a>
                </div>
            </div>
        </div>

        <div class="room-box col-xs-6 col-sm-4">
            <div class="img-container">
                <img src="~/Areas/ar/assets/img/highlights/highlights1.jpg" alt="olaya branch" />

            </div>
            <div class="details">
                <div class="title"><a href="#">Braira <span>Olaya</span></a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                </div>
                <div class="price">
                    <a href="#">More Details</a>
                </div>
            </div>
        </div>

        <div class="room-box col-xs-6 col-sm-4">
            <div class="img-container">
                <img src="~/Areas/ar/assets/img/highlights/highlights2.jpg" alt="Aziza View" />
            </div>
            <div class="details">
                <div class="title"><a href="#"><span>Braira</span> Family Package</a></div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem, accusantium, saepe quasi eaque labore deleniti alias?
                </div>
                <div class="price">
                    <a href="#">More Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- End of Our Services -->
<!-- Special Packages -->
<div class="brands-bg">
    <div id="special-packages" class="container brands-bg">
        <!-- Heading box -->
        <div class="heading-box">
            <h2><span>علاماتنا التجارية</span></h2><!-- Title -->
        </div>

        <!-- Package Container -->
        <div class="package-container clearfix">
            <!-- Package Box -->
            <div class="wow fadeInUp col-mm-12">
                <ul class="horizontal-images">
                    <li>
                        <a href="http://www.boudlgroup.com/ar/" target="_blank"><img src="~/Areas/ar/assets/img/brands/boudl-group-1.png" alt="Boudl Group" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.boudl.com/ar/" target="_blank"><img src="~/Areas/ar/assets/img/brands/boudl-hotel-logo.png" alt="Boudl Hotels" class="img-horizontal boudl-hotel-logo"></a>
                    </li>
                    <li>
                        <a href="http://www.brairahotels.com/ar/" target="_blank"><img src="~/Areas/ar/assets/img/brands/braira.png" alt="Braira Hotels" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.narcissusriyadh.com/ar/default.html" target="_blank"><img src="~/Areas/ar/assets/img/brands/narcissus.png" alt="Narcissus Hotels" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.aberhotels.com/ar/" target="_blank"><img src="~/Areas/ar/assets/img/brands/aber-logo.png" alt="aber Hotels" class="img-horizontal aber-hotel-logo"></a>
                    </li>
                    <li>
                        <a href="javascript:;" target="_blank"><img src="~/Areas/ar/assets/img/brands/bur-new-logo.png" alt="Bur Bakery" class="img-horizontal"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- End of Special Packages -->



@section scripts{
    <script type="text/javascript">
        function validateDestination() {
            var theValue = $("#ddlCity").val();
            if (theValue == "") {
                $("#lbValidate").html("الرجاء تحديد الوجهة");
                $("#lbValidate").attr('style', 'color: Red !important');
            }
            else {
                $("#lbValidate").html("");
            }
        }
        $("body").addClass("homepage trans-header sticky white-datepicker");
        $(document).ready(function () {
            //$("#ddlHotels").chosen("destroy");
            $("#ddlCity").change(function () {
                var strCity = $(this).val();
                $("#ddlHotels").empty();
                $("#ddlHotels").append($('<option>', {
                    value: 0
                }));
                switch (strCity) {
                    case "الرياض":
                        $('#ddlHotels').append($('<option>', {
                            value: 1,
                            text: 'الصحافة'
                        })).append($('<option>', {
                            value: 2,
                            text: 'العليا'
                        }));.append($('<option>', {
                            value: 4,
                            text: 'الوزارات'
                        }));
                        break;                    
                    case "الخُبر":
                        $('#ddlHotels').append($('<option>', {
                            value: 3,
                            text: 'العزيزيه'
                        }));
                        break;
                    default:
                        break;
                }
                $('#ddlHotels').trigger("chosen:updated");
            });

            $("#ddlHotels").change(function () {
                var iHotelType = $(this).val();
                switch (iHotelType) {
                    case "1":
                        $("#lnkBooking").attr("href", "");
                        break;
                    case "2":
                        $("#lnkBooking").attr("href", "");
                        break;
                    case "3":
                        $("#lnkBooking").attr("href", "");
                        break;
                    default:
                        $("#lnkBooking").attr("href", "");
                        break;
                }
            });
        });
    </script>
}