﻿@model BrairaHotel.ManageBranchesDTO
@{
    ViewBag.Title = "";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
    var brn = @Html.Raw(ViewBag.BrnList);

}
@section styles{
    <style type="text/css">
        .video-container {
            position: relative;
            height: 90%;
            width: 100%;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }

        iframe.full-video {
            position: absolute !important;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .video-js {
            width: 100% !important;
        }

            .video-js .vjs-tech {
                height: auto !important;
            }

        @@media (min-width: 468px) and (max-width: 767px) {
            .video-container {
                height: 55vh;
            }
        }

        @@media (max-width: 467px) {
            .video-container {
                height: 33vh;
            }
        }
        #highlights .room-container .room-box .details .price {
            padding: 0;
            border: 0
        }
        
    </style>


    <link href="https://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">

}

<!-- Top Slider and Booking form -->
<div id="home-top-section">
    @if (ViewBag.MediaType != null)
    {
        if (ViewBag.MediaType == "2")
        {
            if (ViewBag.BannersList != null)
            {
                foreach (var item in ViewBag.BannersList)
                {
                    <div id="main-slider">
                        <div class="video-container">
                            @*vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active  preload="auto"*@
                            <video preload="auto" id="my-video" class="video-js" controls data-setup="{}" autoplay muted loop>
                                <source src="@ViewBag.ImageUrl@item.SourcePath" type="video/mp4">
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                        </div>
                    </div>
                }
            }
        }
        else if (ViewBag.MediaType == "1")
        {
            if (ViewBag.BrnList != null)
            {
                <div id="room-details-slider">
                    @foreach (var item in ViewBag.BannersList)
                    {
                        <div class="items">
                            <a href="@item.NavigationUrl" target="_blank">
                                <img src="@ViewBag.ImageUrl@item.SourcePath" />
                            </a>
                            @*<img src="@ViewBag.ImageUrl@item.SourcePath" />*@
                        </div>
                    }
                </div>
            }
        }
        else if (ViewBag.MediaType == "3")
        {
            foreach (var item in ViewBag.BannersList)
            {
                <div id="main-slider">
                    <div class="video-container">
                        <iframe class="full-video" src="@("https://www.youtube.com/embed/"+@item.SourcePath+"?rel=0&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist="+@item.SourcePath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        @*<iframe class="full-video" src="https://www.youtube.com/embed/Jh0M2v83CN4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                    </div>
                </div>
            }
        }
    }

    <!-- Booking Form -->
    <div class="booking-form-container container">
        <div id="main-booking-form" class="style-2">
            @*<h2>Find A <span>Hotel</span></h2>*@
            <h2>احجز  <span>غرفة</span></h2>
            <form class="booking-form clearfix" action="#">

                <div class="booking-fields col-xs-12">
                    @*<select class="chosen-select" name="city" id="ddlCity" required>
                        <option value="">اختر مدينة</option>
                        <optgroup label="Saudi Arabia">
                            <option>الرياض</option>
                            <option>Al Khobar</option>
                            <option>Al Dammam</option>
                        </optgroup>
                    </select>*@
                    @*<select class="chosen-select" name="city" id="ddlCity" required>
                        <option value="">اختر مدينة</option>
                        <optgroup label="Saudi Arabia">
                            <option>Riyadh</option>
                            <option>Al Khobar</option>
                            <option>Al Dammam</option>
                        </optgroup>
                    </select>*@
                    @if (ViewBag.cityList2 != null)
                    {
                        @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)ViewBag.cityList2, "اختر مدينة", new { id = "ddlCity", @class = "chosen-select" })
                    }
                </div>
                <div class="booking-fields col-xs-12">
                    @Html.DropDownListFor(model => model.Id, new SelectList("", ""), "إختر وجهتك", new { id = "ddlHotels", @class = "form-control" })
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    @*<select name="hotels" id="ddlHotels" data-placeholder="إختر وجهتك" required>
                        <option value=""></option>
                    </select>*@
                        <!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                    
                    <!-- End of Select boxes -->
                </div>

                <div id="lbValidate"></div>
                <div class="booking-button-container">
                    <a id="lnkBooking" onclick="validateDestination()" class="btn btn-default">إحجز الآن</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of Top Slider and Booking form -->
<!-- Rooms Container -->
<section id="highlights">
    <div class="room-container container room-grid">
        <div class="heading-box">
            @*<h2>This Week's <span>Top Offers</span></h2>*@
            <h2> أحدث عروض الاسبوع</h2>
            <div class="subtitle">فنادق و منتجعات</div>
        </div>

        @if (ViewBag.WeeklyOffersList != null)
        {
            foreach (var item in ViewBag.WeeklyOffersList)
            {
                <div class="room-box col-xs-6">
                    <div class="img-container">
                        @*<img src="~/assets/img/offers/offer-1.jpg" alt="offer 1" />*@
                        <img src=@item.OfferOneImageAr />
                    </div>
                    @*<div>
                        <a href="~/Offers/@item.OfferOneNameEn.Replace(" ","")">@item.OfferOneNameAr</a>
                    </div>*@
                    <div class="details">
                        <div class="price">
                            @*<a href="javascript:;">More Details</a>*@
                            <a href="~/ar/Offers/@item.OfferOneNameEn.Replace(" ","")">المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="room-box col-xs-6">
                    <div class="img-container">
                        @*<img src="~/assets/img/offers/offer-1.jpg" alt="offer 1" />*@
                        <img src=@item.OfferTwoImageAr />
                    </div>
                    @*<div>
                        <a href="~/Offers/@item.OfferTwoNameEn.Replace(" ","")">@item.OfferTwoNameAr</a>
                    </div>*@
                    <div class="details">
                        <div class="price">
                            @*<a href="javascript:;">More Details</a>*@
                            <a href="~/ar/Offers/@item.OfferTwoNameEn.Replace(" ","")">المزيد</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</section>
<!-- End of Rooms Container -->
<!-- Luxury Rooms -->
<div id="luxury-rooms">
    <!-- Heading box -->
    <div class="heading-box">
        <h2>نبذة عن <span>بریرا</span></h2><!-- Title -->
        <div class="subtitle">فنادق و منتجعات</div><!-- Subtitle -->
    </div>

    <!-- Room Box Container -->
    <div class="room-container container">
        <!-- Room box -->
        @if (ViewBag.HomeAboutList != null)
        {
            foreach (var item in ViewBag.HomeAboutList)
            {
                <div class="room-boxes">
                    <img src=@item.ImageAr class="room-img" alt="About Boudl Hotels" />
                    <div class="room-details col-xs-6 col-md-4">
                        <div class="description">
                            <!-- Room Description -->

                            @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionAr))
                        </div>
                        <a href="~/ar/about" class="btn btn-default">المزيد</a><!-- Detail link -->
                    </div>
                </div>
            }
        }

    </div>
</div>
<!-- End of Luxury Rooms -->
<!-- Our Services -->

<div id="our-services">
    <div class="heading-box">
        <h2><span>أبرز ما لدينا</span></h2>
    </div>
    <div id="services-box" class="owl-carousel owl-theme owl-rtl">
        @if (ViewBag.Highlights != null)
        {
            foreach (HighlightsDTO item in ViewBag.Highlights)
            {
                <div class="item">
                    <img src="@item.ImageAr" alt="@item.CaptionAr" />
                    <div class="title">@item.CaptionAr</div>
                </div>
            }
        }
        else
        {
            <p>No content available</p>
        }
    </div>
</div>
<!-- End of Our Services -->
<!-- Special Packages -->
<div class="brands-bg">
    <div id="special-packages" class="container ">
        <!-- Heading box -->
        <div class="heading-box">
            @*<h2>Our <span>Brands</span></h2>*@
            <h2>مجموعة بودل  </h2>
        </div>

        <!-- Package Container -->
        <div class="package-container clearfix">
            <!-- Package Box -->
            <div class="wow fadeInUp col-mm-12">
                <ul class="horizontal-images">
                    <li>
                        <a href="http://www.boudlgroup.com/ar/" target="_blank"><img src="~/assets/img/brands/boudl-group-1.png" alt="Boudl Group" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.boudl.com/ar/" target="_blank"><img src="~/assets/img/brands/boudl-hotel-logo.png" alt="Boudl Hotels" class="img-horizontal boudl-hotel-logo"></a>
                    </li>
                    <li>
                        <a href="http://www.brairahotels.com/ar/" ><img src="~/assets/img/brands/braira.png" alt="Braira Hotels" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.narcissusriyadh.com/ar/default.html" target="_blank"><img src="~/assets/img/brands/narcissus.png" alt="Narcissus Hotels" class="img-horizontal"></a>
                    </li>
                    <li>
                        <a href="http://www.aberhotels.com/ar/" target="_blank"><img src="~/assets/img/brands/aber-logo.png" alt="aber Hotels" class="img-horizontal aber-hotel-logo"></a>
                    </li>
                    <li>
                        <a href="javascript:;" target="_blank"><img src="~/assets/img/brands/bur-new-logo.png" alt="Bur Bakery" class="img-horizontal"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- End of Special Packages -->


@section scripts{
    <script type="text/javascript">
        function validateDestination() {
            var theValue = $("#ddlCity").val();
            if (theValue == "") {
                $("#lbValidate").html("Please select destination");
                $("#lbValidate").attr('style', 'color: Red !important');
            }
            else {
                $("#lbValidate").html("");
            }
        }
        $("body").addClass("homepage trans-header sticky white-datepicker");
        $("p").removeClass("p1");
        $(document).ready(function () {
            //$("#ddlHotels").chosen("destroy");
            $("#ddlCity").change(function () {
                var strCity = $(this).val();
                $("#ddlHotels").empty();
                $("#ddlHotels").append($('<option value="0">إختر وجهتك</option>', {
                    value: 0
                }));
                var model = @Html.Raw(ViewBag.BrnList);
                for(var i = 0; i < model.length; i++) {
                    if (model[i].CityId == strCity) {
                        $('#ddlHotels').append($('<option>', {
                            value: model[i].BookingUrl,
                            text: model[i].NameAr
                        }))
                    }
                }
                $('#ddlHotels').trigger("chosen:updated");
                //switch (strCity) {
                //    case "Riyadh":
                //        $('#ddlHotels').append($('<option>', {
                //            value: 2,
                //            text: 'Olaya'
                //        })).append($('<option>', {
                //            value: 4,
                //            text: 'Al Wizarat'
                //        })).append($('<option>', {
                //            value: 5,
                //            text: 'Qortobah'
                //        })).append($('<option>', {
                //            value: 7,
                //            text: 'Hitin'
                //        }));

                //        break;
                //    case "Al Khobar":
                //        $('#ddlHotels').append($('<option>', {
                //            value: 3,
                //            text: 'AL Azizya'
                //        }));
                //        break;
                //    case "Al Dammam":
                //        $('#ddlHotels').append($('<option>', {
                //            value: 6,
                //            text: 'Al Dammam'
                //        }));
                //        break;
                //    default:
                //        break;
                //}
               
            });

            $("#ddlHotels").change(function () {
                var iHotelType = $(this).val();
                $("#lnkBooking").attr("href", iHotelType);
                //switch (iHotelType) {
                //    case "2":
                //        $("#lnkBooking").attr("href", "http://olaya.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "3":
                //        $("#lnkBooking").attr("href", "http://azizia.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "4":
                //        $("#lnkBooking").attr("href", "http://wizarat.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "5":
                //        $("#lnkBooking").attr("href", "http://qurtuba.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "6":
                //        $("#lnkBooking").attr("href", "http://dammam.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    case "7":
                //        $("#lnkBooking").attr("href", "http://hattien.boudl.com/V8Client/Inquiry.aspx");
                //        break;
                //    default:
                //        $("#lnkBooking").attr("href", "");
                //        break;
                //}
            });
        });
    </script>
    @*<script src="https://vjs.zencdn.net/6.4.0/video.js"></script>*@
<script>
    $(document).ready(function(){
        var vid = (@ViewBag.MediaType);
        if(vid == "2"){
            document.getElementById("my-video").controls = false;
        }
    });
</script>
<script src="https://www.youtube.com/player_api"></script>
@*<script>
    player = new YT.Player('divId', {
        videoId :'@ViewBag.ImageUrl',
        playerVars: {
            'autoplay': 0,
            'controls': 0,
            'rel' : 0,
            'fs' : 0,
        }
    });
</script>*@
}


