﻿
@{
    ViewBag.Title = "Braira Gallery Four Star Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
}
<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="http://csadms.com/braira-website/assets/img/headers/gallery-header.jpg">    
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="~/ar/home">الرئيسية</a></li>
        <li class="active">معرض الميديا</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Gallery Container -->
<div class="gallery-container container gallery-grid">
    <!-- Gallery Container -->
    <div class="gallery-container">
        <div class="sort-section">
            <div class="sort-section-container">
                <div class="sort-handle">Filters</div>
                <ul class="list-inline">
                    <li><a href="#" data-filter="*" class="active">الكل</a></li>
                    <li><a href="#" data-filter=".rooms">الاجنحة و الغرفة</a></li>
                    <li><a href="#" data-filter=".lobby">لوبي الفندق</a></li>
                    <li><a href="#" data-filter=".pool">المسبح</a></li>
                    <li><a href="#" data-filter=".relaxation">ملاحقات اخرى</a></li>
                </ul>
            </div>
        </div>
        <ul class="image-main-box clearfix">
            <li class="item col-xs-6 col-md-4 lobby">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery1.jpg" alt="1" />
                    <a href="~/areas/ar/assets/img/gallery/gallery1.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 rooms">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery2.jpg" alt="2" />
                    <a href="~/areas/ar/assets/img/gallery/gallery2.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 pool">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery3.jpg" alt="3" />
                    <a href="~/areas/ar/assets/img/gallery/gallery3.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 relaxation">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery4.jpg" alt="4" />
                    <a href="~/areas/ar/assets/img/gallery/gallery4.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 lobby">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery5.jpg" alt="5" />
                    <a href="~/areas/ar/assets/img/gallery/gallery5.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 rooms">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery6.jpg" alt="6" />
                    <a href="~/areas/ar/assets/img/gallery/gallery6.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 relaxation">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery7.jpg" alt="7" />
                    <a href="~/areas/ar/assets/img/gallery/gallery7.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>

            <li class="item col-xs-6 col-md-4 pool">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery8.jpg" alt="8" />
                    <a href="~/areas/ar/assets/img/gallery/gallery8.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 pool">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery9.jpg" alt="9" />
                    <a href="~/areas/ar/assets/img/gallery/gallery9.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 relaxation">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery10.jpg" alt="10" />
                    <a href="~/areas/ar/assets/img/gallery/gallery10.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 rooms">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery11.jpg" alt="11" />
                    <a href="~/areas/ar/assets/img/gallery/gallery11.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 lobby">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery12.jpg" alt="12" />
                    <a href="~/areas/ar/assets/img/gallery/gallery12.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 relaxation">
                <figure>
                    <img src="~/assets/img/gallery/gallery13.jpg" alt="13" />
                    <a href="~/assets/img/gallery/gallery13.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 rooms">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery14.jpg" alt="14" />
                    <a href="~/areas/ar/assets/img/gallery/gallery14.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-4 relaxation">
                <figure>
                    <img src="~/areas/ar/assets/img/gallery/gallery15.jpg" alt="15" />
                    <a href="~/areas/ar/assets/img/gallery/gallery15.jpg" class="more-details">Enlarge</a>
                </figure>
            </li>
        </ul>
    </div>
</div>
<!-- End of Gallery Container -->
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
    </script>
}