﻿
@{
    ViewBag.Title = "Braira Al Olaya Four Star Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<div class="room-detail-page">
    <!-- Main Slider -->
    <div id="room-details-slider">
        <div class="items">            
            <img src="~/assets/img/branches/olaya9.png" alt="olaya 1"  />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/olaya2.jpg" alt="olaya 2" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/olaya3.jpg" alt="olaya 3" />
        </div>
        <div class="items">
            <img src="~/assets/img/branches/olaya4.jpg" alt="olaya 4" />
        </div>       
        <div class="items">
            <img src="~/assets/img/branches/olaya6.jpg" alt="olaya 6" />
        </div>
    </div>

    <div class="booking-title-box">
        <div class="booking-title-box-inner container">
            <!-- Heading box -->
            <div class="heading-box">
                <h2><span>بریرا </span> العلیا</h2><!-- Title -->
                <div class="subtitle price"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <span> - فنادق فئة أربعة نجوم</span></div><!-- Subtitle -->
            </div>

            <!-- Booking form -->
            <form class="booking-form clearfix" action="#">
                <!-- Do Not remove the classes -->
                <div class="input-daterange col-md-6">
                    <div class="booking-fields col-md-6">
                        <input placeholder="الوصول" class="datepicker-fields check-in" type="text" name="start" /><!-- Date Picker field ( Do Not remove the "datepicker-fields" class ) -->
                        <i class="fa fa-calendar"></i><!-- Date Picker Icon -->
                    </div>
                    <div class="booking-fields col-md-6">
                        <input placeholder="المغادرة" class="datepicker-fields check-out" type="text" name="end" />
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="booking-fields col-md-3">
                    <!-- Select boxes ( you can change the items and its value based on your project's needs ) -->
                    <select name="room-type" id="booking-field2">
                        <option value="">بالغين</option><!-- Select box items ( you can change the items and its value based on your project's needs ) -->
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                    <!-- End of Select boxes -->
                </div>
                <div class="booking-fields col-md-3">
                    <select name="guest" id="booking-field3">
                        <option value="1">الأطفال</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                    </select>
                </div>
                <div class="booking-button-container">
                    <input class="btn btn-default" value="احجز الأن" type="submit" onClick="window.open('http://olaya.boudl.com/V8Client/Inquiry.aspx');" /><!-- Submit button -->
                </div>
            </form>
        </div>
    </div>
    <div class="room-details container">
        <div class="description">
            <p>
                یقع فندق بریرا العلیا في مدینة الریاض على بعد 600 متر من برج الفیصلیة ویوفر إطلالات خلابة على برج الفیصلیة
                والمكتبة وحدیقة الملك فھد ویوفر غرفاً مكیفة بالھواء تضم الواي فاي مجاناً، ویمكن للضیوف الاستمتاع بالمطعم الموجود
                في الموقع، وتتوفر مواقف خاصة مجانیة للسیارات في الموقع.
            </p>
            <p>
                تضم الغرف تلفزیون بشاشة مسطحة، وتضم بعض الغرف منطقة جلوس لراحة الضیوف، وقد تم تجھیز كل غرفة مع
                حمام خاص مجھز بدش وبیدیت فقط.
            </p>
            <p>
                وفر مكان الإقامة مكتب استقبال یعمل على مدار 24 ساعة.<br />
                یقع مركز بانوراما للتسوق على بعد 2.1 كم من فندق بریرا الریاض، بینما یقع برج المملكة على بعد 3.2 كم من مكان
                الإقامة، ویعتبر مطار الملك خالد المطار الأقرب لفندق بریرا الریاض حیث یقع على بعد 30 كم منھ.

            </p><br />
            <h1>
                * مساء 2 * اوقات الدخول * مساء 12 * اوقات الخروج
            </h1>
        </div>
    </div>
</div>
<div class="view-360">
    <iframe src="http://www.brairahotels.com/3DTour/" width="100%" frameborder="0"></iframe>
</div>
<!-- Special Packages -->
<div id="special-packages-type-2" class="container">
    <!-- Room Box Container -->
    <div class="package-container">
        <!-- package box -->
        <div class="package-boxes wow fade fadeInUp">
            <img src="~/areas/ar/assets/img/branches/olaya-features.jpg" alt="Braira Olaya Features" class="package-img" />
            <div class="package-details col-md-6 col-lg-4">
                <div class="title">المرافق</div><!-- package title -->
                <div class="description">
                    <!-- package Description -->
                    <ul class="list-inline">
                        <li><i class="fa fa-building"></i> 112 عدد الغرف</li>
                        <li><i class="fa fa-building-o"></i> مسبح خارجي</li>
                        <li><i class="fa fa-bed"></i> غرف عائلیة</li>
                        <li><i class="fa fa-wifi"></i> واي فاي مجاني</li>
                        <li><i class="fa fa-car"></i> مواقف سیارات مجانیة</li>
                        <li><i class="fa fa-heartbeat"></i> مركز للیاقة البدنیة</li>
                        <li><i class="fa fa-fighter-jet"></i> خدمة نقل المطار</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Special Packages -->

<div id="map" class="loc-map">

</div>

@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages sticky room-details trans-header");
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M"></script>
    <script type="text/javascript">
        "use strict";
        function initialize() {
            var myLatLng = new google.maps.LatLng(24.685303, 46.688794);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }] }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }],

                // Extra options
                scrollwheel: false,
                mapTypeControl: false,
                panControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var image = 'http://csadms.com/braira-website/assets/img/marker.png';
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}